Каких-то точных сведений о Canova итальянцы не разглашают. Кроме, конечно, наличия двух дисплеев с технологией MultiTouch. Еще заявлена возомжность управления ноутбуком при помощи голосовых команд.

Стоит отметить, что работы ведутся уже 4 года, совместно с неназванной американской компанией.
Если все у V12 Design будет в порядке, то уже через 16 месяцев Canova появится на прилавках.

Лично мне этот концепт (судить можно только по фото) нравится гораздо больше XO-2. Будет интересно узнать, что ж там внутри и почем V12 Design будет продавать свой уникальный девайс.

PS
Кстати, сайт у V12 классно сделан... На мой взгляд.