.form {
  font-size: 1.3em
  }
  
.form .buttons- {
  font-size: 1.3em;
  margin-top: 1em;
  }  

.form .buttons- #submit {
  font-weight: bold;
  }

.gallery {
	margin-top: 20px;
  margin-bottom: 20px;
  }

.gallery .img- {
  float: left;
  margin: 0 10px 10px 0;
  text-align: center;
  }

.gallery .frame- {
  background: #f0f0f0;
  padding: 5px;  
  }

.gallery .sel- {
  background: #009;
  color: #fff;
  }

.gallery .frame- img {
  display: block;
  margin: 0 auto;
  border: solid 1px #fff;
  cursor: pointer; cursor: hand;
  }  
  
.gallery .frame- img:hover {
  border: solid 1px #900;
  }  

.gallery .img- .title- {
  font-size: 75%;
  font-family: Tahoma, Verdana, Arial, Helvetica, Sans Serif;
  color: #666;
  height: 1.1em; 
  line-height: 1em;
  overflow: hidden;
  }
  
.form .variants- {
  line-height: 1.5em;
  margin-bottom: 1em;
  }

.form .variants- label {
  border-bottom: dashed 1px #666;
  color: #666;
  }
  
.files {
  font-size: 150%;
  color: #666;
  }  
.files ul {
  margin-left: 0px;
  list-style: none;  
  }  
.files input {
  position: relative;
  top: -0.2em;
  }  
  
/**/  
.standartTreeRow:hover {
  color: #900;
  }  

/* */

#uploader {
    background: #f0f0f0;
    padding: 5px 10px 10px 20px;
    margin: 10px 0 20px 0;
}

#uploader h4 {
    margin: 0 0 10px 0;
    font-size: 1em;
}

#uploader h4 a {
    text-decoration: none;
    border-bottom: 1px dashed #666;
}

#uploader h4 a:link,
#uploader h4 a:visited {
    color:  #666;    
}
#uploader h4 a:hover,
#uploader h4 a:active {
    color: #FF0000;
    border-bottom: 1px dashed #FF0000;
}

#uploader form table {
    border-collapse: collapse;
}

#uploader form td {
    padding: 0;
}

#uploader form .control-,
#uploader form .label- {
    padding-right: 10px;
}

#uploader form .label- {
    padding-top: 0.15em;
    text-align: right;
}
#uploader form .control- {
    padding-bottom: 10px;
}
    
#uploader form .control- textarea,
#uploader form .control- input {
    width: 100%;
}

#uploader form .button- .submit {
    font-weight: bold;
}

#uploader.uploader-hidden {
    background: #fff;        
}
    
#uploader.uploader-hidden form {
    display:  none;    
}
    
.cms-arrow strong { font-weight: normal; background-color: #eeeeee; padding: 1px 2px; border: 1px solid #CCCCCC }
.cms-arrow a { padding: 1px 2px; }

.flash-menu span {
	text-decoration: underline; 
	cursor: pointer;
	color:#06498d;
}
.flash-menu span.selected {
	text-decoration: none; 
	font-weight: bold;
	cursor: auto;
}