.header {
  width: 100%; overflow: hidden;
  margin: 15px 0 40px; /* тут задаём только верхний и нижний отступы */
  }
  .header__logo {
    width: 210px; height: 100px; padding: 0 10px 0 15px;
    }
    .header__logo img {
      vertical-align: top; /* чтобы не появлялось отступа под картинкой */
      }
  .header__info {
    padding: 0 15px 0 10px;
    }