{{?toolbar}}

<div class="cms-toolbar"><img class="block" src="{{images}}z.gif" width="1" height="4" align="top" alt="" /></div>

<table cellspacing="0" cellpadding="0" class="cms-toolbar w100">
<tr>
  <td nowrap="nowrap">{{@blocks/user.html}}</td>
  <td class="sep-"><img class="block" src="{{images}}seporate.gif" width="2" height="20" align="top" alt="" /></td>
  <td>ћеню:</td>
  	{{!for toolbar.main do=@:item sep=@:item_sep}}
  </td>
  <td class="w100">{{@dummy.html}}</td>
  <td class="sep-"><img class="block" src="{{images}}seporate.gif" width="2" height="20" align="top" alt="" /></td>
  <td nowrap="nowrap">
    <a href="{{/}}start">основное меню</a> |
    <span>
    	перейти
    	<select onchange="if (this.value != -1) window.location.href='{{front_end_url}}'+this.value">
    		<option value="-1">выбрать</option>
        	{{!for goto do=@:goToItem}}
    	</select>
    </span> |
    <a href="{{/}}login?logout=1" onclick="return confirm('¬ы действительно желаете выйти?');">выход</a>
  </td>
</tr>
</table>

{{!for toolbar.submenu do=@:subitem}}

<script language="javascript">

var selectedNode = {{?menu_selected}}document.getElementById('menu_selected_{{menu_selected}}'){{?:}}null{{/?}};

function switchMenu(el)
{
	if(subEl = document.getElementById('submenu_' + el.getAttribute('item_id')))
	{
		if(selectedNode)
		{
			var old_el
			if(old_el = document.getElementById('submenu_' + selectedNode.getAttribute('item_id')))
			{
				old_el.style.display = 'none';
			}
			selectedNode.parentNode.className = 'item-';
		}
		subEl.style.display = '';
		el.parentNode.className = 'selected-';
		selectedNode = el;
		return false;
	}
	else
	{
		return true;
	}
}

</script>


{{/?}}


{{:subitem}}
<div class="cms-toolbar-sub" id="submenu_{{*id}}" {{?!*selected}}style="display: none;"{{/?}}>
	{{!for *childs do=@:subitem_item sep=@:subitem_item_sep}}
</div>
{{/:subitem}}

{{:subitem_sep}}{{/:subitem_sep}}

<br class="clearer">

{{:item *selected}}
	<td class="selected-" nowrap="nowrap"><a href="{{!href_to 'DoPage/module' *}}" id="menu_selected_{{*id}}" item_id="{{*id}}" onclick="return switchMenu(this);">{{*title}}</a></td>
{{/:item}}

{{:item}}
	<td class="item-" nowrap="nowrap"><a href="{{!href_to 'DoPage/module' *}}" item_id="{{*id}}" onclick="return switchMenu(this);">{{*title}}</a></td>
{{/:item}}

{{:item_sep}}
	<td class="seporate-" nowrap="nowrap">|</td>
{{/:item_sep}}

{{:subitem_item *selected}}
	<h1>{{*title}}</h1>
{{/:subitem_item}}

{{:subitem_item}}
	<a href="{{!href_to 'DoPage/module' *}}">{{*title}}</a>
{{/:subitem_item}}

{{:subitem_item_sep}}&nbsp;|&nbsp;{{/:subitem_item_sep}}

{{:goToItem}}
	<option value="{{*path}}">{{*title}}</option>
{{/:goToItem}}