/*
 * Стили для CMS.
 */

/* переоформление базовых элементов */
html,body { height: 100%; }
body      { margin:0; padding:0; background: #ffffff; color:#444444; }
table     { border:none; }
td        { vertical-align:top; }

img         { border:none; }
img.block   { display:block; }
img.1x1     { width:1px; height:1px; border:0; visibility:hidden; display:block }

label     { cursor:pointer; cursor:hand; }
.hand   { cursor:pointer; cursor:hand; }
small   { font-size: 90%; }
            
body, td { font: normal 12px Tahoma, Arial; }

form { padding:0; margin:0 }

hr   { height:1px; border:0; color:#aaaaaa; background:#aaaaaa }
b    { font-weight:bold }

.invisible  { display:none; }
.visible    { display:block; }

.bottom     { vertical-align:bottom; }
.middle     { vertical-align:middle; }
.center     { text-align:center; }
.right      { text-align:right; }
.nowrap     { white-space:nowrap; }
.w100       { width:100%; }

a:link     { color:#06498d; }
a:visited  { color:#06498d; }
a:hover    { color:#bb0000; }
a:active   { color:#ff0000; }


/* вспомогательный для отладки */
table.set td  { border:1px #444444 dashed; } 
.set          { border:1px #000000 dashed; }


/* типовые классы */ 
h3        { font-size:16px; color:#0064d8; font-family:Georgia;}
p          { color:#464646; margin:10px 0; }

.cms-login { height:100%; vertical-align:middle; }
.cms-login .widget { border-style: solid; border-width: 1px; border-color: #dddddd #7f7f7f #7f7f7f #dddddd; background-color: #F0F2ED; }
.cms-login .text- { text-align:right; vertical-align:middle; color:#000000; }
.cms-login input  {  }

.cms-toolbar            { background-color:#F0F2ED; font-family:Tahoma; }
.cms-toolbar td         { vertical-align:bottom; font-family:Tahoma; padding:3px 5px 8px 5px; border-bottom:1px #666666 solid; }
.cms-toolbar .sep-      { padding:0 0 4px 0; }
.cms-toolbar .item-     { padding:3px 0 8px 0; }
.cms-toolbar .selected- { font-weight: bold; background:#ffffff; border-left:1px #666666 solid; 
                          border-top:1px #666666 solid; border-right:1px #666666 solid; border-bottom:none;
                          padding:3px 5px 8px 5px; }
                          
.cms-start { height:90%; vertical-align:middle; }
.cms-start .text-  { padding:15px; border:1px #808080 solid; color:#464646; font-family:Tahoma; }
.cms-start .text- ul { margin-top:5px; margin-bottom:5px; list-style-type:square; }

.cms-wrapper .module-title-   { padding:5px; line-height:1em; border:1px #CCCCCC solid; }
.cms-wrapper .module-title- img { margin: 0px 0px 0px 3px; }
.cms-wrapper .m-opened-       { background-color:#F0F2ED; color:#666666; }
.cms-wrapper .m-closed-       { background-color:#F0F2ED; color:#666666; }
.cms-wrapper .m-over-         { background-color:#E4E6E1; color:#666666; }
.cms-wrapper .m-over2-        { background-color:#E4E6E1; color:#666666; }
.cms-wrapper .content-        { border-width: 1px; border-color: #CCCCCC; border-style: none solid solid solid; }

.cms-simple-form {  }
.cms-simple-form td { padding:5px 0; vertical-align:middle; border-bottom:1px #cccccc solid; }
.cms-simple-form input { font: 12px Tahoma; }
.cms-simple-form select { font: 12px Tahoma; }

.cms-list-advanced { margin: 5px; }

.cms-list-advanced .trash- { padding:2px 0 2px 19px; }
.cms-list-advanced .trash- a:link, 
.cms-list-advanced .trash- a:visited { color:#666666; }
.cms-list-advanced .trash- a:hover, 
.cms-list-advanced .trash- a:active { color:#bb0000; }

.cms-list-advanced .new-element- { padding:2px 0; }
.cms-list-advanced .new-element- a:link, 
.cms-list-advanced .new-element- a:visited { color:#169000; }
.cms-list-advanced .new-element- a:hover, 
.cms-list-advanced .new-element- a:active { color:#bb0000; }

.cms-list-advanced .element-          { padding:2px 0; margin-left: 20px; text-indent: -20px; }
.cms-list-advanced .element-hiden-    { padding:2px 0; margin-left: 20px; text-indent: -20px; }
.cms-list-advanced .element-s-        { padding:2px 0; margin-left: 20px; text-indent: -20px; }

.cms-list-advanced .element-del- { padding:2px 0; } 
.cms-list-advanced .element-del- a:link, 
.cms-list-advanced .element-del- a:visited { color:#666666; }
.cms-list-advanced .element-del- a:hover, 
.cms-list-advanced .element-del- a:active { color:#bb0000; }
.cms-list-advanced .cms-nodata- { color:#bb0000; padding:2px 0 2px 19px; }

.cms-form-block { width: 100%; padding: 0px 10px 10px 10px; }
.cms-form-buttons { margin-top: 10px; }
.cms-add-form { padding-left:18px; }
.cms-add-form input { font-size:12px; }
.cms-add-form select { font-size:12px; }


.cms-save-but { background-color: #F3F3EF; font: 12px 'MS Sans Serif', 'Microsoft Sans Serif', Tahoma, Arial; padding: 5px; margin-right: 5px; border: 1px inner black; }
.cms-delete-but { background:#ffb8b1; color:#880000; font: 12px 'MS Sans Serif', 'Microsoft Sans Serif', Tahoma, Arial; padding: 5px; margin-right: 5px; border: 1px inner black; }

.cms-save-small-but { height:20px; background:#d8fecd; color:#005314; }
.cms-delete-small-but { height:20px; background:#ffb8b1; color:#880000; }

.cms-arrow { text-align:right; }
.cms-arrow strong { font-weight: normal; background-color: #eeeeee; padding: 1px 2px; border: 1px solid #CCCCCC }
.cms-arrow a { padding: 1px 2px; }
