<form action='{{/}}index.php' method='post' name='{{__form_name}}' id='{{__form_name}}' enctype="multipart/form-data">
	<input type="hidden" name="MAX_FILE_SIZE" value="{{__max_file_size}}">
	<input type="hidden" name="{{prefix}}update" value="1">
	<input type="hidden" name="no_response" value="0">
	{{POST_STATE}}

	<table cellpadding="0" cellspacing="0" style="width: 100%"><tr><td class="cms-form-block">
	{{!!form_simple}}
		{{___form}}
	{{/!!form_simple}}

	<div class="cms-form-buttons">
		{{:save_button_norefresh}}
			<input id="update_1" name="update_1" class="cms-save-but hand" type="button" value="сохранить без перезагрузки" onclick="OSFormSend('{{__form_name}}');"> 
		{{/:save_button_norefresh}}
		
		{{:save_button}}
			<input id="update_1" name="update_1" type="hidden"> 
			<input id="update_2" name="update_2" class="cms-save-but hand" type="submit" value="сохранить/обновить"> 
		{{/:save_button}}

		{{:restore_button}}
			<input name="{{prefix}}restore" class="cms-save-but hand" type="submit" value="восстановить"> 
		{{/:restore_button}}
		
		{{_save_button}}

		{{:send_button}}
			<input name="{{prefix}}send" class="cms-save-but hand" type="submit" value="отправить"> 
		{{/:send_button}}
		
		{{:send_button_disabled}}
			<input name="{{prefix}}send" class="cms-save-but hand" type="submit" disabled="disabled" value="отправлено"> 
		{{/:send_button_disabled}}
		
		{{_send_button}}
		
		{{:delete_button}}
			<input type="submit" class="cms-delete-but hand" name="{{prefix}}delete" value="{{__delete_title}}" onclick="return confirm('{{__delete_title}}?');">
		{{/:delete_button}}
		
		{{_delete_button}}
	</div>
</form>
</td></tr></table>