{{TPL:html}}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>{{TITLE}}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
  <script type="text/javascript" src="{{/}}libs/tinymce/tiny_mce_popup_simple.js"></script>
  <script src="{{js}}utils.js" type="text/javascript"></script>
  <script src="{{js}}cookie.js" type="text/javascript"></script>
  <script src="{{js}}dhtmlXCommon.js" type="text/javascript"></script>
  <script src="{{js}}dhtmlXTree.js" type="text/javascript"></script>
  <link href="{{css}}dhtmlXTree.css" rel="stylesheet" type="text/css" />

	<link rel="stylesheet" href="{{css}}all.css" media="all" type="text/css" />
	<link rel="stylesheet" href="{{css}}popup.css" media="all" type="text/css" />
</head>

<body>

<h2 style="margin-top: 0">Выберите страницу или раздел, на который хотите сослаться</h2>

<div id="treeBox"></div> 

<div class="form">
<div class="buttons-">
<input type="button" name="Вставить" value="Вставить" onclick="Ok();" id="submit" />
<input type="button" name="Закрыть" value="Закрыть" onclick="tinyMCEPopup.close();" />
</div>
</div>
<script language="javascript">
		
	var tree;
	tree = new dhtmlXTreeObject(document.getElementById('treeBox'),"100%","100%",0); 
	tree.setImagePath("{{images}}tree/"); 
	tree.enableCheckBoxes(false); 
	tree.enableDragAndDrop(false);
	
	tree.hideAddBut = true;
	tree.hideAddChildBut = true;
	tree.hideDelBut = true;
	
	function Ok()
	{
		var itemId = tree.getSelectedItemId();
		var item = tree._globalIdStorageFind(itemId);
		if(item)
		{
			var selectedText = tinyMCE.activeEditor.selection.getContent();
			txt = (selectedText.length > 0) ? selectedText : item.userData['t_title_ins'];
			
			tinyMCEPopup.execCommand('mceInsertContent', false, '<a href="'+item.userData['t_link']+'">'+txt+'</a>');
		}
		tinyMCEPopup.close();		
	}

	tree.setXMLAutoLoading(tinyMCE.jetcontent); 
	tree.loadXML(tinyMCE.jetcontent + "?id=content-1");
</script>

</body>
</html>
{{/TPL:html}}



{{TPL:html_alt}}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>{{TITLE}}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=windows-1251">

  <script src="{{js}}utils.js" type="text/javascript"></script>
  <script src="{{js}}cookie.js" type="text/javascript"></script>
  <script src="{{js}}dhtmlXCommon.js" type="text/javascript"></script>
  <script src="{{js}}dhtmlXTree.js" type="text/javascript"></script>
  <link href="{{css}}dhtmlXTree.css" rel="stylesheet" type="text/css" />

	<link rel="stylesheet" href="{{css}}all.css" media="all" type="text/css" />
	<link rel="stylesheet" href="{{css}}popup.css" media="all" type="text/css" />
</head>

<body>

<h2 style="margin-top: 0">Выберите страницу или раздел, на который хотите сослаться</h2>

<div id="treeBox"></div> 

<div class="form">
<div class="buttons-">
<input type="button" name="Вставить" value="Вставить" onclick="Ok();" id="submit" />
<input type="button" name="Закрыть" value="Закрыть" onclick="window.close();" />
</div>
</div>
<script language="javascript">
		
	var tree;
	tree = new dhtmlXTreeObject(document.getElementById('treeBox'),"100%","100%",0); 
	tree.setImagePath("{{images}}tree/"); 
	tree.enableCheckBoxes(false); 
	tree.enableDragAndDrop(false);
	
	tree.hideAddBut = true;
	tree.hideAddChildBut = true;
	tree.hideDelBut = true;
	
	function Ok()
	{
		var itemId = tree.getSelectedItemId();
		var item = tree._globalIdStorageFind(itemId);
		if(item)
		{			
			window.opener.insertLink(item.userData['t_link']);
		}
		window.close();		
	}

  //tree.setOnClickHandler(Ok);	
	tree.setXMLAutoLoading("{{/}}{{url_rel}}?cm=1"); 
	tree.loadXML("{{/}}{{url_rel}}?cm=1&id=content-1");
</script>

</body>
</html>
{{/TPL:html_alt}}