{{TPL:List_Item_Exchange}}{{/TPL:List_Item_Exchange}}
{{TPL:List_Empty}}
<div class="cms-nodata-">нет данных</div>{{/TPL:List_Empty}}

{{TPL:List_Item}}
<li id="{{*id}}">
<div class="element-"><img src="{{images}}element.gif" width="16" height="12" align="bottom" alt="" title="" />&nbsp;<a href="{{*_href}}">{{*_title}}</a>
  {{_controls}}</div>
</li>
{{/TPL:List_Item}}

{{TPL:exchange}} | <a href="" onclick="{{prefix}}picker.Pick({{*id}},2);return false;">&lt;&gt;</a>{{/TPL:exchange}}

{{TPL:List_Item_sel}}
<li id="{{*id}}">
<div class="element-s-"><img src="{{images}}element_s.gif" width="16" height="12" align="bottom" alt="" title=""
/>&nbsp;{{*_title}}
{{_controls}}</div>
</li>
{{/TPL:List_Item_sel}}

{{TPL:List_Item_del}}
<li id="{{*id}}">
<div class="element-del-"><img src="{{images}}element_trash.gif" width="16" height="12" align="bottom" alt="" title="Удалённый элемент" />&nbsp;<a href="{{*_href}}">{{*_title}}</a>
  {{_controls}}</div>
</li>
{{/TPL:List_Item_del}}

{{TPL:List_Item_sel_del}}
<li id="{{*id}}">
<div class="element-s-"><img src="{{images}}element_s.gif" width="16" height="12" align="bottom" alt="" title=""
/>&nbsp;{{*_title}}
{{_controls}}</div>
</li>
{{/TPL:List_Item_sel_del}}

{{TPL:List_Item_hidden}}
<li id="{{*id}}">
<div class="element-hiden-"><img src="{{images}}element_hiden.gif" width="16" height="12" align="bottom" alt="" title="Скрытый элемент" />&nbsp;<a href="{{*_href}}">{{*_title}}</a>
  {{_controls}}</div>
</li>
{{/TPL:List_Item_hidden}}

{{TPL:List_Item_sel_hidden}}<div class="element-s-"><img src="{{images}}element_s.gif" width="16" height="12" align="bottom" alt="" title=""
/>&nbsp;{{*_title}}
{{_controls}}</div>
{{/TPL:List_Item_sel_hidden}}

{{TPL:List_Separator}}{{/TPL:List_Separator}}

{{TPL:List_Arrows}}{{__links_all}}{{/TPL:List_Arrows}}

{{TPL:list}}
{{_}}
{{/TPL:list}}

{{TPL:add_new}}
  <div class="new-element-"><img src="{{images}}add_element.gif" width="16" height="12" align="bottom" alt="" title="" />
  <a href="{{_add_new_href}}">{{_add_new_title}}</a>
  </div>
{{/TPL:add_new}}

{{TPL:TrashShow}}<div class="trash-"><a href="{{_href}}">показать удалённые</a></div>{{/TPL:TrashShow}}
{{TPL:TrashHide}}<div class="trash-"><a href="{{_href}}">спрятать удалённые</a></div>{{/TPL:TrashHide}}

{{!connect "dragable_items.css"}}
{{!connect "dragable_lists.css"}}

{{!connect "dk.js"}}
{{!connect "coordinates.js"}}
{{!connect "drag.js"}}
{{!connect "dragdrop.js"}}
{{!connect "default.js"}}


<script language="JavaScript" type="text/javascript">
	   var update_timeout = null;
       function onDrop()
       {
          //var data = DragDrop.serData('g2');
          update_timeout = setTimeout(getSort, 1500);
       }

		window.onload = function()
		{
			var list = document.getElementById("left_col");
			DragDrop.makeListContainer( list, 'g1' );
			list.onDragOver = function() { this.style["background"] = "#EEE"; };
			list.onDragOut = function() {this.style["background"] = "none"; };

			list.onDragDrop = function() {onDrop(); };
		};


        function getSort()
        {
          var order = document.getElementById("order");
          order.value = DragDrop.serData('g1', null);

		  findObj("group-minus-icon").src = findObj("group-minus-icon").src.replace("hide.gif", "ajax-loader-arrows.gif");;

          //url, table, order_values
          clearTimeout(update_timeout);

          send('', '{{table_name}}', order.value);

        }

		function send(url, table, values)
		{
			var req = new Subsys_JsHttpRequest_Js();
		    // Код, АВТОМАТИЧЕСКИ вызываемый при окончании загрузки.
		    // alert(typeof(values));
		    req.onreadystatechange = function()
		    {
		        if (req.readyState == 4)
		        {
		           if (req.responseText!="error" && req.responseText.length>0)
		           {

		           	   //сохраниение прошло успешно
		           	   findObj("group-minus-icon").src = findObj("group-minus-icon").src.replace("ajax-loader-arrows.gif", "hide.gif");
		           	   return true;
		           }
		           else
		           {
		           	   alert('Не удалось установить соедение с сервером');
		           	   //сохранение обломалось
		           }
		        }
		    }
		    // Разрешаем кэширование (чтобы при одинаковых запросах
		    // не обращаться к серверу несколько раз).
		    req.caching = false;
		    // Подготваливаем объект.
		    req.open('GET', url, true);
		    // Посылаем данные запроса (задаются в виде хэша).

		    /**
		     *ничего страшного, там проверяется принципал
		     *@params	tag			- таг для записи
		     *@filename id			- id строки для удалиния
		     */
		    var q = { 'order': values, 'table': table };
		    req.send( q );
		}
        function showValue()
        {
          order = document.getElementById("order");
          alert(order.value);
        }
</script>


<!-- -->
<div class="cms-list-advanced">
{{__arrows}}
<img class="block" src="{{images}}z.gif" width="1" height="10" align="top" alt="" />
{{__form}}
{{__logs}}
{{__picker}}
{{__filter}}
{{__trash_switch}}
{{__add_new}}
<img class="block" src="{{images}}z.gif" width="1" height="10" align="top" alt="" />

<input type="hidden" name="order" id="order" value="" />
<ul id="left_col" class="sortable boxy">
{{__list}}
</ul>

{{__bottom}}
<img class="block" src="{{images}}z.gif" width="1" height="10" align="top" alt="" />
{{__arrows}}
</div>
<!-- -->
{{TPL:Form}}
<div class="cms-add-form">
<form action='{{/}}' method='post' name='{{__form_name}}'>
<input type="hidden" name="{{prefix}}update" value="1" />

{{POST_STATE}}
<input type='text' name='{{prefix}}title' value='{{_title}}' style="width:148px;" /><br />
<input type="submit" class="cms-save-small-but hand" value="{{_save_string}}" />&nbsp;
{{__delete}}
</form>
</div>
<img class="block" src="{{images}}z.gif" width="1" height="10" align="top" alt="" />
{{/TPL:Form}}

{{TPL:delete}}<input type="submit" class="cms-delete-small-but hand" name="{{prefix}}delete" value="удалить" onclick="return confirm('Действительно удалить?\nКорзины-то пока нет...');" />{{/TPL:delete}}