<img class="block" src="{{images}}z.gif" width="1" height="5" align="top" alt="" />
<table cellspacing="0" cellpadding="0" class="w100">
<tr>
  <td><img class="block" src="{{images}}z.gif" width="5" height="1" align="top" alt="" /></td>
  <td>{{!!wrap var=wid_0 tvar=_wtitle_0}}{{__wrapped_0}}{{/!!}}</td>
  <td><img class="block" src="{{images}}z.gif" width="5" height="1" align="top" alt="" /></td>
  <td width="100%">{{__wrapped_1}}</td>
  <td><img class="block" src="{{images}}z.gif" width="5" height="1" align="top" alt="" /></td>
</tr>
</table>

