.l-content-21 {
  clear: both; width: 100%; overflow: hidden;
  }
  .l-content-21__col-1, .l-content-21__col-2 {
    float: left;
    }
  .l-content-21__col-1 {
    width: 66%; //margin-right: -100%;
    }
    .l-content-21__col-1__pad {
      padding: 0 10px 0 15px;
      }
  .l-content-21__col-2 {
    width: 34%; //margin-left: 66%; //display: inline;
    }
    .l-content-21__col-2__pad {
      padding: 0 15px 0 10px;
      }