.l-content-112 {
  clear: both; width: 100%; overflow: hidden;
  }
  .l-content-112__col-1, .l-content-112__col-2, .l-content-112__col-3 {
    float: left;
    }
  .l-content-112__col-1 {
    width: 25%; //margin-right: -100%;
    }
    .l-content-112__col-1__pad {
      padding: 0 10px 0 15px;
      }
  .l-content-112__col-2 {
    width: 25%;
    //margin-left: 25%; /* ширина колонок перед этой ( в данном случае перед ней одна колонка ширины 25% ) */
    //margin-right: -100%; //display: inline;
    }
    .l-content-112__col-2__pad {
      padding: 0 10px;
      }
  .l-content-112__col-3 {
    width: 50%;
    //margin-left: 50%; /* ширина колонок перед этой ( в данном случае перед ней две колонки, ширина которых в сумме 50% ) */
    //display: inline;
    }
    .l-content-112__col-3__pad {
      padding: 0 15px 0 10px;
      }