<html>
<body>
<div class="imgpane">
	<img src="[IMAGE]" class="transp" alt="[ALT]"/>
	<img src="{{fe_images}}main/cr_07.gif" class="cr_07" width="29" height="29" alt=""/>
	<img src="{{fe_images}}main/cr_08.gif" class="cr_08" width="87" height="29" alt=""/>
	<a href=""><img src="{{fe_images}}main/zoom.gif" class="zoom" width="11" height="11" alt="(+)" /></a>
	<div class="capt">
		<img src="{{fe_images}}/main/cr_09.gif" class="cr_09" />
		<img src="{{fe_images}}/main/cr_09.gif" class="cr_10" />
		[ALT]
	</div>
	<!--
	-->
</div>
<div class="cb" />
</body>
</html>
