.l-inner-columns-13 {
  clear: both; width: 100%; overflow: hidden;
  }
  .l-inner-columns-13__col-1, .l-inner-columns-13__col-2 {
    float: left;
    }
  .l-inner-columns-13__col-1 {
    width: 25%; //margin-right: -100%;
    }
    .l-inner-columns-13__col-1__pad {
      padding: 0 10px 0 0;
      }
  .l-inner-columns-13__col-2 {
    width: 75%; //margin-left: 25%; //display: inline;
    }
    .l-inner-columns-13__col-2__pad {
      padding: 0 0 0 10px;
      }