{{TPL:head}}
<tr class="headings-">
      <td colspan="2"><h2>Редактирование объекта</h2></td>     
      <td colspan="2"><h3>№ {{object_id}}</h3></td>     
</tr>
{{/TPL:head}}

{{TPL:head_add}}
<tr class="headings-">
      <td colspan="2"><h2>Добавление объекта</h2></td>     
      <td colspan="2"></td>     
</tr>
{{/TPL:head_add}}

{{TPL:location}}
{{!connect "jquery.js"}}
{{!connect "utils.js"}}
{{!connect "locations.js"}}
<tr class="locations-">
      <td class="label-">
      	<script language="javascript">
      		$(document).ready(
      			function()
      			{
      				var loc = new Locations();
      				loc.setData({{rub_location}});
      				// selects
      				loc.setObjects({'1' : 'location_1', '2' : 'location_2', '3' : 'location_3', '4': 'location_4', '5': 'location_5' });
      				loc.init();
      			}
      		);
      	</script>
        <label for="location-1">Локализация:</label>
      </td>     
      <td class="control-">
        <!-- RUB_LOCATION -->
        <select name="rubricator_5[]" id="location_1" >
        	<option value="0"></option>
        </select>
      </td>
      <td class="control-">
        <select name="rubricator_5[]" id="location_2" ></select>
      </td>
      <td class="control-">
        <select name="rubricator_5[]" id="location_3"></select>
      </td>      
      <td class="control-">
        <select name="rubricator_5[]" id="location_4"></select>
      </td>      
	  <td class="control-">
        <select name="rubricator_5[]" id="location_5"></select>
      </td>   
</tr>
{{/TPL:location}}

{{TPL:market_type_row}}
<tr class="types-row-">
	<td colspan="2">
		Тип недвижимости:
		<select name="rubricator_2"> <!-- RUB_TYPE -->
			{{@:option_empty}}
			{{!for rub_type do=@:option_item}}
		</select>
	</td>
	<td colspan="2">
		Рынок:
		<select name="rubricator_1"> <!-- RUB_MARKET -->
			{{@:option_empty}}
			{{!for rub_market do=@:option_item}}
		</select>
	</td>
</tr>
{{/TPL:market_type_row}}

{{:option_item}}
<option value="{{*id}}" {{?*selected}}selected="selected"{{/?}}>{{*title}}</option>
{{/:option_item}}

{{:option_empty}}
<option value="0">----------</option>
{{/:option_empty}}


{{TPL:various}}
<tr>
	    {{@:various_right}}
        {{@:various_left}}
</tr>  
{{/TPL:various}}

{{TPL:various_left}}
<td class="form-column-" colspan="2">
    <table class="form-table">	      
    {{:param_row}}
    <tr>
    	<td class="label-"><label for="custom_{{*id}}">{{*title}}:</label></td>
    	<td class="control-">
    	
    	  
          
          {{?*custom_type==RUB_CUSTOM_CHECK}}
    	    <input type="checkbox" name="custom[{{*id}}]" id="custom_{{*id}}" {{*checked}} />
    	  {{?:}}

            {{?*custom_type==RUB_CUSTOM_SELECT}}
            	
    	        <select name="custom[{{*id}}]" id="custom_{{*id}}" >
                    <option value="0">не выбрано</option>
                    {{!for *data do=@:option}}
                </select>
                
                {{:option}}
                    <option value="{{*custom_id}}" {{*selected}} >{{*value}}</option>
                {{/:option}}
    	    {{?:}}
    	  
    	    	<input type="text" name="custom[{{*id}}]" id="custom_{{*id}}" value="{{*item_value}}" />
                
            {{/?}}
          {{/?}}
    	</td>
    </tr>
    {{/:param_row}}

    <!--
    {{@:param_row label="Площадь" name="p1"}}
    {{@:param_row label="Площадь гостиной" name="p2"}}
    {{@:param_row label="Площадь сада" name="p3"}}
    {{@:param_row label="Количество спален" name="p4"}}
    {{@:param_row label="Колчество ванн" name="p5"}}
    -->
    
    {{!for CustomRubrics do=@:param_row}}
    
    

    </table>

</td>
{{/TPL:various_left}}

{{TPL:various_right}}
<td class="form-column-" colspan="2">
  <table class="form-table">	      
	  <tr>
		<td class="label-"><label for="status">Статус объекта:</label></td>
		<td class="control-">
            <select name="item_status_object" id="status">
            	{{!for rub_status_object do=@:option_item}}
            </select>
            <!-- TODO 
            <table class="form-table">	      
            <tr>
            	<td class="label-"><label for="client-id">Клиент</label></td>
            	<td class="control-">
            	  <input type="text" name="client-id" id="client-id" />
            	</td>
            </tr>
            </table-->
		</td>
	  </tr>
	  <tr>
		<td class="label-"><label for="info-status">Статус информации:</label></td>
		<td class="control-">
          <select name="item_status_info" id="info-status">
            {{!for rub_status_info do=@:option_item}}
          </select>
		</td>
	  </tr>
	  <tr>
		<td>&nbsp;</td>
		<td>
      <input type="checkbox" name="item_special" id="special" {{?item.special}}checked="checked"{{/?}} />
      <label for="special">Спецпредложение</label>            
    </td>
  </tr>
      
      <!-- moved to form config by CCR-496
      {{?Principal.can_partner_edit}}
	  <tr>
		<td class="label-"><label for="partner">Партнер:</label></td>
		<td class="control-">
	      <select name="partner_id" id="partner">
	        {{!for Partners do=@:partner}}
	        {{:partner}}
	        <option value="{{*id}}" {{*selected}}>{{*title}}</option>
	        {{/:partner}}
	      </select>              
		</td>
	  </tr>
	  {{/?}}
	  -->
	  
	  <!--tr>
		<td class="label-" colspan="2"><label for="contacts">Контакты:</label></td>
	  </tr>
	  <tr>
		<td class="control-" colspan="2">
            <textarea name="contacts" id="contacts"></textarea>              
		</td>
	  </tr-->
      
</table>
</td>
{{/TPL:various_right}}