<!-- forms/group.html : Шаблоны списка "полей" внутри группы -->

<!-- CCR custom groups -->

{{TPL:SimpleList}}
{{_}}
{{/TPL:SimpleList}}
{{TPL:SimpleList_empty}}{{/TPL:SimpleList_empty}}
{{TPL:SimpleList_item}}{{*field}}{{/TPL:SimpleList_item}}

<!-- for left-right columns in Users -->
{{TPL:UserList}}
<tr class="contacts">
   {{_}}
</tr>

{{/TPL:UserList}}
{{TPL:UserList_Empty}} {{/TPL:UserList_Empty}}
{{TPL:UserList_Item}} {{*field}} {{/TPL:UserList_Item}}

<!--  -->
{{TPL:UserDescrList}}
  <tr class="pre_area">
  	<td colspan="2"></td>
  	<td colspan="2"><label for="{{field}}">{{wrapper_title}}</label></td>
	</tr>
  <tr class="area">
     {{_}}
  </tr>
{{/TPL:UserDescrList}}
{{TPL:UserDescrList_Empty}} {{/TPL:UserDescrList_Empty}}
{{TPL:UserDescrList_Item}} {{*field}} {{/TPL:UserDescrList_Item}}

{{TPL:UserDescrGroup}}
  <tr class="pre_area">
    <td colspan="2"></td>
    <td colspan="2"><label for="{{field}}">{{wrapper_title}}</label></td>
  </tr>
	{{_}}
{{/TPL:UserDescrGroup}}
<!-- /end of CCR groups -->


<!-- == Обычный такой список, для полей врапперы вида Row* == -->
{{TPL:List}}
 <table class="w100 rows-" cellspacing="5" cellpadding="0" border="0">
  <!-- hardcore padding
  <tr><td>{{~!dummy w=200}}</td><td class="w100">{{~!dummy}}</td></tr>
  -->
   {{_}}
 </table>
{{/TPL:List}}
{{TPL:List_Empty}} {{/TPL:List_Empty}}
{{TPL:List_Item}} {{*field}} {{/TPL:List_Item}}


<!-- == Список для "Табсов" (внутри него -- группы) == -->
{{TPL:TabList}}
   {{_}}
 <script language="JavaScript">
   formsFlipGroup('form_tab_'+document.formsTabFirst); 
   formsFlipGroup('form_collapsable_'+document.formsTabFirst);
 </script>
{{/TPL:TabList}}
{{TPL:TabList_Empty}} {{/TPL:TabList_Empty}}
{{TPL:TabList_Item}} 
  <script language="JavaScript">
    formsFlipSetParent( 'form_collapsable_{{parent}}', 'form_collapsable_{{*child}}' );
  </script>
  {{*field}} 
{{/TPL:TabList_Item}}


<!-- == Список для "Табсов", заголовки (в форме табсов) == -->
{{TPL:TabList_Headers}}
 <table class="w100 tab-ctrls-" cellspacing="0" cellpadding="0" border="0">
  <tr>
    <td class="tab-none-">{{~!dummy w=5}}</td>
    {{_}}
    <td class="w100 tab-none-">{{~!dummy w=5}}</td>
  </tr>
 </table>
{{/TPL:TabList_Headers}}
{{TPL:TabList_Headers_Empty}} {{/TPL:TabList_Headers_Empty}}
{{TPL:TabList_Headers_Item}} 
  <script language="JavaScript">
    formsFlipSetParent( 'form_tab_{{parent}}', 'form_tab_{{*field}}' );
    if (!document.formsTabFirst) // переключение на первую панель
     document.formsTabFirst = '{{*field}}';
    if (!(1*'{{*is_valid}}') && !document.formsTabSecond) // переключение на первую невалидную панель
    {
      document.formsTabFirst  = '{{*field}}';
      document.formsTabSecond = true;
    }

  </script>
  <td nowrap="nowrap"
      class="{{?!*is_valid}}tab-error-{{/?}}"
      onmouseover = 'this.className="over-";'
      onmouseout  = 'this.className="{{?!*is_valid}}tab-error-{{/?}}";'
      onclick="formsFlipGroup('form_tab_{{*field}}'); return formsFlipGroup('form_collapsable_{{*field}}');" 
     >
    <div class="collapsable-{{?is_collapsed}} collapsed-{{?/}}" id="form_tab_{{*field}}"
         title="{{?*is_valid}}{{*wrapper_desc}}{{?:}}{{+Form.invalid_group}}{{?/}}"
        >
      <a href="javascript:;">{{*wrapper_title}}</a> 
    </div>
  </td>
  <td class="tab-none-">{{~!dummy w=5}}</td>
{{/TPL:TabList_Headers_Item}}


