.content-21 {
  clear: both; width: 100%; overflow: hidden;
  }
  .content-21_col-1, .content-21_col-2 {
    float: left;
    }
  .content-21_col-1 {
    width: 66%; //margin-right: -100%;
    }
    .content-21_col-1_pad {
      padding: 0 10px 0 15px;
      }
  .content-21_col-2 {
    width: 34%; //margin-left: 66%; //display: inline;
    }
    .content-21_col-2_pad {
      padding: 0 15px 0 10px;
      }