.content-211 {
  clear: both; width: 100%; overflow: hidden;
  }
  .content-211_col-1, .content-211_col-2, .content-211_col-3 {
    float: left;
    }
  .content-211_col-1 {
    width: 50%; //margin-right: -100%;
    }
    .content-211_col-1_pad {
      padding: 0 10px 0 15px;
      }
  .content-211_col-2 {
    width: 25%;
    //margin-left: 50%; /* ширина колонок перед этой ( в данном случае перед ней одна колонка ширины 50% ) */
    //margin-right: -100%; //display: inline;
    }
    .content-211_col-2_pad {
      padding: 0 10px;
      }
  .content-211_col-3 {
    width: 25%;
    //margin-left: 75%; /* ширина колонок перед этой ( в данном случае перед ней две колонки, ширина которых в сумме 75% ) */
    //display: inline;
    }
    .content-211_col-3_pad {
      padding: 0 15px 0 10px;
      }