.content-111 {
  clear: both; width: 100%; overflow: hidden;
  }
  .content-111_col-1, .content-111_col-2, .content-111_col-3 {
    float: left; width: 33.3333%;
    }
  .content-111_col-1 {
    //margin-right: -100%;
    }
    .content-111_col-1_pad {
      padding: 0 10px 0 15px;
      }
  .content-111_col-2 {
    //margin-left: 33.3333%; /* ширина колонок перед этой ( в данном случае перед ней одна колонка ширины 33.3333% ) */
    //margin-right: -100%; //display: inline;
    }
    .content-111_col-2_pad {
      padding: 0 10px;
      }
  .content-111_col-3 {
    //margin-left: 66.6666%; /* ширина колонок перед этой ( в данном случае перед ней две колонки, ширина которых в сумме 66.6666% ) */
    //display: inline;
    }
    .content-111_col-3_pad {
      padding: 0 15px 0 10px;
      }