.content-13 {
  clear: both; width: 100%; overflow: hidden;
  }
  .content-13_col-1, .content-13_col-2 {
    float: left;
    }
  .content-13_col-1 {
    width: 25%; //margin-right: -100%;
    }
    .content-13_col-1_pad {
      padding: 0 10px 0 15px;
      }
  .content-13_col-2 {
    width: 75%; //margin-left: 25%; //display: inline;
    }
    .content-13_col-2_pad {
      padding: 0 15px 0 10px;
      }