<!-- forms/buttons.html :  нопки, какие они бывают (все разновидности) -->

<!--  нопка ( стилизованна€, если подключены стили "..\quickstart\app\skins\default\css\screen-forms.css" ) -->
{{TPL:InputSubmit}}
<div class="button-">
	<span class="button-left-">&nbsp;</span>
	<input type="submit" value="{{*title}}" name="_event" class="submit- button-text-" />
	<span class="button-right-">&nbsp;</span>
</div>
{{/TPL:InputSubmit}}

{{TPL:InputSubmitCms}}
<tr>
<td></td>

<td>
    <div class="button-">
            <span class="button-left-">&nbsp;</span>
            <input type="submit" value="{{*title}}" name="_event" class="submit- button-text-" />
            <span class="button-right-">&nbsp;</span>
    </div>
</td>
</tr>
{{/TPL:InputSubmitCms}}

{{TPL:InputSubmitConfirmCms}}
<tr>
<td></td>

<td>
    <div class="button-">
            <span class="button-left-">&nbsp;</span>
            <input type="submit" value="{{*title}}" name="_event" class="submit- button-text-" />
            <span class="button-right-">&nbsp;</span>
    </div>
</td>
</tr>
{{/TPL:InputSubmitConfirmCms}}

