{{:File}}
    <input type="file" name="{{prefix}}{{field}}" />
    <br />
    Нажмите кнопку <dfn>Обзор</dfn> и выберите файл со своего компьютера.
    {{?interface_file.is_loaded}}
	    <br />
	    <input type="checkbox" id="{{prefix}}{{field}}_del" name="{{prefix}}{{field}}_del" value='1'>
	    &nbsp;
	    <label for="{{prefix}}{{field}}_del" class="warning">удалить иллюстрацию</label>
    	<br />

        {{?file.is_flash}}
            {{!flash file.link transparent=1 fullpath="1" width=file.width height=file.height}}
        {{?:}}
            <a href="{{interface_file.original.link}}" class="colorbox">
              <img src="{{interface_file.link}}"   title="{{interface_file.width}}x{{interface_file.height}}" />
            </a>
        {{/?}}

    {{/?}}
    {{?error}}
    <p class="warning">{{error}}</p>
    {{/?}}
{{/:File}}

