<!-- forms/interface/file.html : Вывод поля интерфейса "загрузка файла" -->
{{:CatalogueItemImage}}
      <table class="one-foto" {{?last_file_num}} id="last_file_{{last_file_num}}" {{/?}} >
        <tr>
          <td style="width: 82px;">          
    				<div class="photogallery-block" style="width: 82px;">
    				 <div class="photogallery">
                       <div class="photo-small-">
                       {{?interface_file}}
                        <a href="{{interface_path}}{{interface_file_orig}}" onclick="popup_image('{{interface_path}}{{interface_file_orig}}?popup=1', '{{interface_w}}', '{{interface_h}}'); return false;"><img src="{{interface_path}}{{interface_file}}" alt="" /></a>
                        <small>Увеличить</small>
                       {{?:}}                         
                         <div class="no-photo-">
                           <i>Добавить фото</i>
                         </div>
                       {{/?}}
                        </div>
                  	 </div>
                  	</div>          
          </td>
     	  <td style="padding-right: 20px">
    		  <div class="input-" style="padding-right: 10px;"><input type="text" name="{{field}}_title[]" value="{{interface_file_title}}" /></div>
    		  <div class="info" style="width:100%;">
    		  	<div class="l-">
    					
    		  	</div>
    		  	<div class="r-">
                        <!--input type="text" name="{{field}}_title[]" /-->
                        {{?interface_file}}
                            <input type="checkbox" name="{{field}}_delete[]" id="ch_{{interface_file_num}}" value="{{interface_file_num}}" > <label for="ch_{{interface_file_num}}">Удалить</label> 
                        {{?:}}
                            <div><input type="file" name="{{field}}[]" /></div>
                            
                            <div class="img-load-button-"><input type="submit" name="_event2" value="Загрузить" /></div>
                            <div class="img-load-button-"><input type="submit" name="_add" value="Добавить" onclick="addImage(); return false;" /></div>
                        {{/?}}
    		  	</div>
    			</div>
    		</td>
        </tr>
      </table>
{{/:CatalogueItemImage}}


{{TPL:File}}
<input type="file" name="{{field}}" />
<a href="{{interface_file.link}}">скачать</a>
{{/TPL:File}}

{{TPL:Image}}
<input type="file" name="{{field}}" />
<img class="test-image" src="{{interface_file.link}}" title="{{interface_file.width}}x{{interface_file.height}}" />
{{/TPL:Image}}

{{TPL:multiply}}
{{!connect "utils.js"}}
{{!connect "jquery.js"}}
{{!connect "files.js"}}
<div class="attache-files">
		
		{{?item.files.count>"0"}}
			 <div class="files-">
				<h4>Приложенные к вопросу файлы:</h4>
				<ul>
					{{!for item.files do=@:multiply_file}}
				</ul>
			
				{{:multiply_file}}
					<li class="file- file-{{*ext}}-"><a href="{{/}}{{*link}}">{{*name}}</a> <small>{{*ext}}, {{*size}}&nbsp;Кб</small> <input type="checkbox" name="{{field}}_del[]" value="{{*filename | escape}}" /> - удалить</li>
				{{/:multiply_file}}
			
		{{/?}}
		
		<div id="{{field}}_cont"></div>
			
		<div class="morefile-">
		  <a href="#" onclick="{{field}}.add(); if(this.getAttribute('first') == '1') {this.innerHTML = 'Приложить еще файл'; this.setAttribute('first', '0');}; return false;" first="1">Приложить файл</a>
		</div>

		<script language="javascript">
			var {{field}};
			
			$(document).ready(function()
			{
				{{field}} = new Files({'cont' : '{{field}}_cont', 'inputName' : '{{field}}'});
			});
			
		</script>
</div>
{{/TPL:multiply}}