{{TPL:Form}}
	{{?errors&&show_general_form_error}}<p class="system-mess-">При заполнении формы допущены ошибки</p>{{?/}}
	{{form}}
		<input type="hidden" name="_event2" id="{{form_name}}_event2" value="" /> <!-- для работы кнопок-ссылок -->
		<input type="hidden" name="{{form_present}}" value="{{form_name}}" />
		{{?form_data_id_value}}
			<input type="hidden" name="{{form_data_id}}" value="{{form_data_id_value}}" />
		{{?/}}
	   
	{{content}}

   	{{buttons_left}}
	{{buttons_right}}
  </form>
{{/TPL:Form}}

{{TPL:FormClean}}
	{{?errors}}<p class="system-mess-">При заполнении формы допущены ошибки</p>{{?/}}
	{{form}}
	   
	{{content}}

   	{{buttons_left}}
	{{buttons_right}}
  </form>
{{/TPL:FormClean}}

<!-- Список кнопочек для формы. Сами кнопочки -- see forms/buttons.html -->
{{TPL:Buttons}} {{_}}
  <div class="stopper-"></div>
{{/TPL:Buttons}}
{{TPL:Buttons_Empty}}{{/TPL:Buttons_Empty}}
{{TPL:Buttons_Item}}
 <!--div class="one-"-->
  {{*BUTTON}}
 <!--/div-->
{{/TPL:Buttons_Item}}

