<!-- for cms inserted -->
{{:CmsInsertedStringWrapper}}
{{!connect "calendar.css"}}
{{!connect "calendar.js"}}
<tr>
  <td class="left"><label for="" onclick="return showCalendar('{{field}}', '%d.%m.%Y');">Дата</label>:</td>
  <td class="desc">
    {{content}}
    {{errors}}
    <a href="#" onclick="return showCalendar('{{field}}', '%d.%m.%Y');" >
    <img src="{{images}}calendar/icon.gif" title="календарь" alt="календарь" style="vertical-align:bottom" /></a>

    {{?interface_time}}
        &nbsp;&nbsp;&nbsp; <input type="text" name="{{field}}_time" value="{{interface_time}}" size="11" maxlength='20'>
    <br />
    {{/?}}
    &nbsp;&nbsp;&nbsp;Дата (в формате <samp>дд.мм.гггг</samp>)
    <!-- и время (в формате <samp>чч:мм</samp>), которое будет указано при показе новости на сайте.-->
  </td>
</tr>
{{/:CmsInsertedStringWrapper}}

<!-- for cms -->
{{:CmsStringWrapper}}
        <tr>
          <td class="left"><label for="{{field}}">{{wrapper_title}}</label>:</td>
          <td class="desc">
            {{content}}
            {{errors}}
          </td>
        </tr>
{{/:CmsStringWrapper}}

<!-- for cms -->
{{:CmsWYSIWYGStringWrapper}}
        <tr>
          <td class="left" colspan="2">
            {{content}}
            {{errors}}
          </td>
        </tr>
{{/:CmsWYSIWYGStringWrapper}}

{{:CmsDefaultGroupWrapper}}
<tr>
  <td class="left" colspan="2">
  {{content}}
  {{errors}}
  </td>
</tr>
{{/:CmsDefaultGroupWrapper}}

{{:DefaultGroupWrapper}}
  {{content}}
  {{errors}}
{{/:DefaultGroupWrapper}}

<!-- same as core/core.site/templates/forms/wrapper.html -->
{{:DefaultStringWrapper}}
	<div>
		<label for="{{field}}">{{wrapper_title}}</label>
		{{content}}
		{{errors}}
	</div>
{{/:DefaultStringWrapper}}

{{:DefaultTextWrapper}}
	<div>
		<label for="{{field}}">{{wrapper_title}}</label>
		{{content}}
		{{errors}}
	</div>
{{/:DefaultTextWrapper}}

{{:Div}}
<div>{{wrapper_title}}</div>
{{content}}

{{/:Div}}

{{:None}}{{/:None}}

{{:Passthru}}
  {{content}}
  {{errors}}
{{/:Passthru}}
