<SCRIPT LANGUAGE="JavaScript" src="{{/}}js/ActiveXEditor.js"></SCRIPT>
<textarea name="{{__input_name}}" rows="{{__rows}}" cols="{{__cols}}" wrap="soft" id="{{__input_name}}">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
<style>
{{__style}}
</style>
</head>
<body>{{__text}}</body>
</html>
</textarea> 
<SCRIPT LANGUAGE="JavaScript">
CreateEditControl('{{__form_name}}','{{__input_name}}','{{/}}images/editor/','{{__width}},{{__height}}','{{/}}js/');
</SCRIPT> 
