<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>{{TITLE}}</title>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
  	<script type="text/javascript" src="{{/}}libs/tinymce/tiny_mce_popup_simple.js"></script>
  	
  	<script type="text/javascript" src="{{js}}common/utils.js"></script>
	<script type="text/javascript" src="{{js}}common/iframe.js"></script>
	
	<link rel="stylesheet" href="{{css}}all.css" media="all" type="text/css" />
	<link rel="stylesheet" href="{{css}}popup.css" media="all" type="text/css" />
</head>

<body>

<div class="form">

	<form name="rubric" id="rubric_form" method="get" action="">
	  <h2 style="margin-top: 0">
	  <label for="rubric-select">Файлы из рубрики:</label>
		<select name="rubric_id" id="rubric-select" onchange="document.getElementById('rubric_form').submit()">
			<option value="0">Все вместе</option>
			{{!for rubrics do=@:rubric}}
			{{:rubric}}
				<option value="{{*id}}" {{?*selected}}selected="selected"{{/?}}>{{*title}}</option>
			{{/:rubric}}
			{{:rubric_sep}}{{/:rubric_sep}}
		</select>
		</h2>
	</form>		

	<div style="margin-bottom: 10px;">
		{{@blocks/pager.html}}	
	</div>

<div class="files">
	<ul id="files"></ul>
</div>

<div id="uploader" class="uploader-hidden"> 
    <h4><a onclick="if ('uploader-hidden' == uploaderCont.className) {uploaderCont.className = '';} else {uploaderCont.className = 'uploader-hidden';} return false;" href="#" class="dynalink">Загрузить файл</a></h4>
    <form action="" method="post">
        <table>
        	<tr>
        	    <td class="label-"><label for="file-file">Файл:</label></td>
        	    <td class="control-">
                    <input type="file" name="file" id="file-file" />
        	    </td>
        	    <td class="label-"><label for="file-rubric-select">В рубрику:</label></td>
        	    <td class="control-">
                    <select name="rubric" id="file-rubric-select">
            			{{!for rubrics do=@:rubric}}
            		</select>
        	    </td>
        	</tr>
        	<tr>
        	    <td class="label-"><label for="input-name">Заголовок:</label></td>
        	    <td class="control-" colspan="3">
                    <input type="text" name="name" id="input-name" />
        	    </td>
        	</tr>
        	<tr>
        	    <td class="label-" ><label for="textarea-description">Описание:</label></td>
        	    <td class="control-" colspan="3">
                    <textarea name="name" id="textarea-description"></textarea>
        	    </td>
        	</tr>
        	<tr>
        	    <td class="label-" ></td>
        	    <td class="button-" colspan="3">
                    <input class="submit" type="submit" value="Загрузить" />
                    <input type="button" value="Отменить" />
        	    </td>
        	</tr>
        </table>	    
        
    </form>
</div>

  <div class="buttons-">

  <input type="button" name="insert_files" value="Вставить" onclick="insertFiles();" id="submit" />
  <input type="button" name="Закрыть" value="Закрыть" onclick="window.close();" />

  </div>

</div>

<script language="javascript">
	var files = {{files}};
	var filesCont = null;
	var uploaderCont = null;
	
	window.onload = function() {
		filesCont = document.getElementById('files');
		uploaderCont = document.getElementById('uploader');
		
		for(var i in files)
		{
			filesCont.innerHTML = filesCont.innerHTML + '<li id="'+i+'"><input id="check_'+i+'" type="checkbox" fileid="'+i+'" name="filecheck" /><label for="check_'+i+'"> ' +files[i].title+'</label><span>, <small>.' + files[i].ext + ', ' + files[i].size + ' kb</small></span></li>';
		}
	}
	
	function getHtml(id)
	{
		return '<a mode="file" href="'+files[id].src+'" fileparams="'+files[id].size+'|'+files[id].ext+'">'+files[id].title+'</a>';
	}
	
	function insertFiles()
	{
		var els = document.getElementsByName('filecheck');
		var ids = new Array();
		var content = '';
		
		for(var i = 0; i < els.length; i++)
		{
			if(els[i].checked)
			{
				ids.push(els[i].getAttribute('fileid'));
			}
		}
		
		if(ids.length == 0)
		{
			return false;
		}
		else if(ids.length == 1)
		{
			content = getHtml(ids[0]);
		}
		else
		{
			content = '<ul class="files-">';
			for(var i in ids)
			{
				content += '<li>' + getHtml(ids[i]) + '</li>';
			}
			content += '</ul>';
		}
		
		tinyMCE.selectedInstance.execCommand('mceInsertContent', false, content);
		tinyMCEPopup.close();
	}
	
</script>

</body>
</html>