/* Футер всегда фиксированной высоты. Высота задается в "composition.css" */

.l-footer-21 {
  clear: both; width: 100%; overflow: hidden;
  }
  .l-footer-21__col-1, .l-footer-21__col-2 {
    float: left;
    }
  .l-footer-21__col-1 {
    width: 66%; //margin-right: -100%;
    }
    .l-footer-21__col-1__pad {
      padding: 0 10px 0 15px;
      }
  .l-footer-21__col-2 {
    width: 34%; //margin-left: 66%; //display: inline;
    }
    .l-footer-21__col-2__pad {
      padding: 0 15px 0 10px;
      }