{{&js:default}}
{{&js:graft}}
{{&js:jquery_latest}}

<script language="javascript">
<!--#
	var editables = [[]];
	function changeTitle(find_me)
	{
		var label;
		if (!editables[find_me.id])
		{
			label = find_me.innerHTML;
			find_me.innerHTML = "";
			graft( find_me, ["input", {"type":"text", "value": label, "name": '{{$prefix}}'+find_me.id+'_title', "size":"100" } ] );
			editables[find_me.id] = 1;
		}
		else
		{
			label = find_me.childNodes[0].value;
			find_me.removeChild(find_me.childNodes[0]);
			find_me.innerHTML = label;
			editables[find_me.id] = null;

			$.post("{{/}}do/Config/post", {"name":find_me.id, "title":label}, null, "html"  );
		}
	}
	
	var keys_length = parseInt({{keys_length}});
	var keys = null;
	function makeArray(id)
	{
		$("#kill_me").remove();
		
		if (keys_length > 0)
			$("#dynamic_table").remove();
		else
		{
			findObj(id.replace("in", "ch")+"_type").value = 1;
		}
		
		var src = $("#"+id).val();
		keys = src.split(",");
		keys_length = keys.length;
		
		if (keys_length > 0)
		{
		
			var r="";
			var inputs="";
			var rows;

			for (var i = 0; i<keys_length; i++)
			{
				r += "<td>"+keys[i]+"</td>";
				inputs += "<td><input name='"+_getInputName(keys[i])+"' type='text'></td>";
			}
			inputs += "<td><a href='#' onclick='delArrayRow(this); return false;'>удалить</a></td>";
			
			rows  = _getRow(r);

			rows += _getRow(inputs);
			rows += _getRow("<td colspan='"+keys_length+"'>&nbsp;</td><td>{{@form_config.html:array_add_row}}</td>", "dynamic_controls");

			var t = $("#"+id).after("<table id='dynamic_table' class='dynamic-array'  cellspacing='2' cellpadding='2'>"+rows+"</table>");
		}
	}
	
	function delArrayRow(t)
	{
		t.parentNode.parentNode.parentNode.removeChild(t.parentNode.parentNode);
	}
	
	var row_number=1;
	function addArrayRow()
	{
		var inputs = "";
		row_number++;
		for (var i = 0; i<keys_length; i++)
		{
			inputs += "<td><input type='text' value='"+(row_number)+"' name='"+_getInputName(keys[i])+"'></td>";
		}
		inputs += "<td><a href='#' onclick='delArrayRow(this); return false;'>удалить</a></td>";
		var r = _getRow(inputs);
		$("#dynamic_controls").before( r );
	}
	
	function _getInputName(key_name)
	{
		return key_name+"_"+row_number;
	}
	
	function _getRow(inject, row_id)
	{
		return "<tr "+(row_id ? "id='"+row_id+"'" : "" )+" class='dynamic-table-header'>" + inject + "<tr>";
	}
	
//-->
</script>

<table border='0'>
	{{rows}}

</table>

{{TPL:Row}}
<tr>
<td ondblclick="changeTitle(this)" id="td_{{*name}}">{{*title}}</td>
<td>
	<input type="text" size="100" name="{{prefix}}{{*name}}" value="{{*value}}" id="in_{{*name}}">
	<input type="hidden" size="10" name="{{prefix}}{{*name}}_type" value="{{*type}}" id="ch_{{*name}}_type">
</td>
<td>{{@form_config.html:type_actions}}</td>
</tr>
{{/TPL:Row}}

{{TPL:FileRow}}
<tr>
<td id="td_{{*name}}">{{*title}}</td>
<td>
	<input type="file" name="{{prefix}}{{*name}}" value="{{*value}}" id="in_{{*name}}">
</td>
<td></td>
</tr>
{{/TPL:FileRow}}

{{TPL:type_actions}}
<!--<a href="#" class="underline-dashed">строка</a> <a href="#"  class="underline-dashed" onclick="makeArray('in_{{*name}}'); return false;">массив</a>-->
{{/TPL:type_actions}}

{{TPL:array_add_row}}<a href='#' class='underline-dashed' onclick='addArrayRow(); return false;'>еще</a>{{/TPL:array_add_row}}

{{TPL:ArrayTable}}
<tr>
	<td ondblclick="changeTitle(this)" id="td_{{*name}}">{{*title}} <br/>(<small>{{*name}}</small>)</td>
	<td>
		<!--input type="text" size="100" name="{{prefix}}{{*name}}" value="{{*value}}" id="in_{{*name}}"-->
		<input type="text" size="50" name="{{prefix}}{{*name}}" value="{{_keys}}" id="in_{{*name}}">
		<table id="kill_me">
			{{_rows}}
			<tr><td colspan="{{*row_number_1}}">&nbsp;</td><td>{{@form_config.html:array_add_row}}</td></tr>
		</table>
		<input type="hidden" size="10" name="{{prefix}}{{*name}}_type" value="{{*type}}" id="ch_{{*name}}_type">
	</td>
	<td>{{@form_config.html:type_actions}}</td>
</tr>
{{/TPL:ArrayTable}}

{{TPL:ArrayRow}}
<tr>{{cells}}</tr>
{{/TPL:ArrayRow}}

{{TPL:ArrayInput}}
<td><input type="text" size="50" name="{{*name}}_{{*num}}" value="{{*value}}" id="in_{{*name}}_{{*num}}"></td>
{{/TPL:ArrayInput}}

{{TPL:ArrayTD}}
<td>{{*name}}</td>
{{/TPL:ArrayTD}}