{{@layouts/inner.html html_body=@:body}}

{{:body}}
<table cellspacing="0" cellpadding="0" class="cms-login w100">
  <tr>
    <td class="middle" align="center">
      <h1>У Вас нет прав на доступ к этой странице.</h1>
      <form action='{{!href_to "Login"}}?retpath={{retpath}}' method='post'>
      	<input type='hidden' name='__form_present' value="1"/>
      	<input type='hidden' name='_event2' value="1"/>
      	
      	
        <table cellpadding="10" class="widget" align="center"><tr><td>
        <table cellspacing="0" cellpadding="2">
          <tr>
            <td class="text-">Ваше имя:</td>
            <td><input type='text' name='_login' id="login"/></td>
          </tr>
          <tr>
            <td class="text-">Пароль:</td>
            <td><input type='password' name='_password' /></td>
          </tr>
          <tr>
            <td>{{@dummy.html}}</td>
            <td>
              <input type="submit" name="submit" value="войти" />
            </td>
          </tr>
        </table>
        </td></tr></table>
      </form>
    </td>
  </tr>
</table>
<script>
	document.getElementById('login').focus();
</script>
{{/:body}}