{{!connect "custom.js"}}


<form action=''  method='post' name='{{__form_name}}' id='{{__form_name}}' enctype="multipart/form-data">
	<input type="hidden" name="MAX_FILE_SIZE" value="{{__max_file_size}}" />
	<input type="hidden" name="{{prefix}}update" value="1" />
	<input type="hidden" name="{{__form_name}}_url" value="{{ajax_url}}" />

  {{!for hidden_fields do=@:hidden_field}}
  {{:hidden_field}}
      <input type="hidden" name="{{prefix}}{{for.key}}" value="{{*}}" />
  {{/:hidden_field}}

  {{?iframe}}
	<div style="overflow-x: hidden; overflow-y: auto; " id="iframe_div"><!--height: {{iframe.height}}-->
    {{?:top_buttons}}
        <div class="cms-form-buttons">
          {{_delete_button}}
          {{_save_button}}
          {{_insert_button}}
        </div>
    {{/?}}

    {{!!form_simple}}
	    {{___form}}
    {{/!!}}

    {{?iframe}}
  </div>
  <div class="{{iframe.css_buttons_class}}">
    {{/?}}

    <div class="cms-form-buttons">
      {{_save_button}}
      {{_send_button}}
      {{_insert_button}}
      {{_delete_button}}
    </div>
    {{?iframe}}
	</div>
    {{/?}}
</form>

{{:save_button_norefresh}}
  <div class="cms-form-button cms-form-button_save">
    <ins class="cms-form-button_l"></ins><ins class="cms-form-button_r"></ins>
    <input id="update_1" name="update_1" type="button" value="сохранить без перезагрузки" onclick="saveForm('{{__form_name}}'); return false;" />
  </div>
{{/:save_button_norefresh}}

{{:save_button}}
  <input id="update_1" name="update_1" type="hidden" />
  <div class="cms-form-button cms-form-button_save">
    <ins class="cms-form-button_l"></ins><ins class="cms-form-button_r"></ins>
    <input id="update_2" name="update_2" type="submit" value="Сохранить" />
  </div>
{{/:save_button}}
            
{{:save_select}}
  <input id="update_1" name="update_1" type="hidden" />
  <select name="{{prefix}}post_action">
      <option value="0">Продолжить</option>
      <option value="1">Закрыть</option>
      <option value="2">Добавить</option>
  </select>
  <div class="cms-form-button cms-form-button_save">
    <ins class="cms-form-button_l"></ins><ins class="cms-form-button_r"></ins>
    <input id="update_2" name="update_2" type="submit" value="Сохранить и" />
  </div>
{{/:save_select}}

{{:insert_button}}
  <div class="cms-form-button cms-form-button_add">
    <ins class="cms-form-button_l"></ins><ins class="cms-form-button_r"></ins>
    <a href="{{_add_new_href}}"><input name="{{prefix}}insert" type="submit" value="Добавить" /></a>
  </div>
{{/:insert_button}}

{{:restore_button}}
  <div class="cms-form-button cms-form-button_save">
    <ins class="cms-form-button_l"></ins><ins class="cms-form-button_r"></ins>
    <input name="{{prefix}}restore" type="submit" value="Восстановить" />
  </div>
{{/:restore_button}}

{{:send_button}}
  <div class="cms-form-button cms-form-button_save">
    <ins class="cms-form-button_l"></ins><ins class="cms-form-button_r"></ins>
    <input name="{{prefix}}send" type="submit" value="Отправить" />
  </div>
{{/:send_button}}

{{:send_button_disabled}}
  <div class="cms-form-button cms-form-button_save">
    <ins class="cms-form-button_l"></ins><ins class="cms-form-button_r"></ins>
    <input name="{{prefix}}send" type="submit" disabled="disabled" value="Отправлено" />
  </div>
{{/:send_button_disabled}}

{{:delete_button}}
  <div class="cms-form-button cms-form-button_delete">
    <ins class="cms-form-button_l"></ins><ins class="cms-form-button_r"></ins>
    <input type="submit" class="cms-delete-but" name="{{prefix}}delete" value="{{__delete_title}}" onclick="return confirm('{{__delete_title}}?');">
  </div>
{{/:delete_button}}


<script language="javascript">
$(document).ready( function()
{
    if(window.location.search.match("&popup=1") && window.location.search.match("&rnd=")) {
		top.$.fn.colorbox.close();
		top.location.assign(top.location.href);
    }
    else if ( window.location.search.match("&popup=1") )
    {
        var clickedButton = null;
	
		$("#{{__form_name}} input[type=submit]").click(function(){
            clickedButton = this;
			$("#{{__form_name}}").submit();
        });
	
        $("#{{__form_name}}").submit( function() {
            if (typeof(tinymce) != 'undefined') tinymce.EditorManager.triggerSave();
            data = {};
            
			$(":input", "#{{__form_name}}").each(function (a,b,c) {
			    if (b.type!="submit" || b.name==clickedButton.name) data[b.name ] = getVal(b);
			});
			data['ajax_update'] = "1";
			data['prefix'] = "{{prefix}}";
			return true;
        });
    }

});

function getVal(el)
{
    var ret;
    if (el.type == "checkbox")
    {
	ret = el.checked ? el.value : 0;
    }
    else
    {
	ret = el.value;
    }
    return ret;

}
</script>
