{{!connect "jquery.tablednd_0_5.js"}}

<script type="text/javascript">
$(document).ready(function() {
    // Initialise the table
    {{?order_dir}}
    $(".b-catalogue-items-table").tableDnD({dragHandle: "b-catalogue-items-table_td-move", 
                                            onDragClass: "dragging",
                                            onDrop: function(table, row){
                                                $.post(document.location.href+ "&"+$.tableDnD.serialize('id'), {"action": "reorder", "ajax_update": true}, function(){
                                                
                                                });
                                            }
    
    });
{{/?}}
});
</script>

<span id="surface_profiles_order_result"></span>

<form action="" method="get" class="cms-body_tree_filters">
    {{__filter}}
</form>
<!--
{{?count(Items)>1}}
  <form action="" method="get" class="cms-body_tree_filters">
    {{__filter}}
  </form>
{{?:}}
  <p style="font-size: 80%;">Нет данных</p>
{{/?}}
-->

<form class="b-catalogue-items-form" action="" method="post">
  <input type="hidden" name="{{prefix}}update" value="1" />
  {{?count(Items)>1}}
    {{@:delete}}
    {{@:save}}
  {{/?}}
  <a href="{{_add_new_href}}"> {{@:add_new}} </a>
  {{?count(Items)>1}}
    <table id="orders" class="b-catalogue-items-table" cellspacing="0">
      {{!for Items do=@:row}}
    </table>
  {{/?}}
  
  {{?count(Items)>1}}
    <br />
    {{@:delete}}
    {{@:save}}
    <a href="{{_add_new_href}}"> {{@:add_new}} </a>
  {{/?}}
  
</form>

{{:row}}
  {{?for.i==1}}
    <tr class="nodrop">
      {{!for *cols do=@:thcol}}
      <th class="b-catalogue-items-table_td-edit">&nbsp;</th>
      <th class="b-catalogue-items-table_td-checkbox">&nbsp;</th>
      <th class="b-catalogue-items-table_td-move">{{?order_dir}}<a href="{{order_href}}">По порядку<ins class="js-{{order_dir}}"></ins></a>{{?:}}<a href="{{order_href_default}}">По порядку</a>{{/?}}</th>
    </tr>
  {{?:}}
    <tr id="{{*id}}" {{?*class}}class="{{*class}}"{{/?}}>
      <!--<td><a href="{{*href}}">{{*title|strip_scape}}</a></td>-->        
      {{!for *cols do=@:col id=*id}}
      <td class="b-catalogue-items-table_td-edit">{{?for.i!=1}}<a href="{{/}}{{*href}}">редактировать</a>{{/?}}</td>
      <td class="b-catalogue-items-table_td-checkbox">{{@:item_checkbox}}</td>
      <td class="b-catalogue-items-table_td-move">{{?order_dir}}<div></div>{{/?}}</td>
    </tr>
  {{/?}}
{{/:row}}

{{:col}}
<td {{?for.i==1}}class="b-catalogue-items-table_td-image"{{/?}}>{{@:cell}}</td>
{{/:col}}

{{:thcol}}
  {{?for.i==1}}
    <th class="b-catalogue-items-table_td-image">&nbsp;</th>
  {{?:}}
    <th>{{@:cell th="1"}}</th>
  {{/?}}
{{/:thcol}}

{{:cell th}}
  <a href="{{*href}}">{{*title}}{{?*dir}}<ins class="js-{{*dir}}"></ins>{{/?}}</a>
{{/:cell}}

{{:cell}}
  {{?*href}}
      <a href="{{/}}{{*href}}">{{*title}}</a>
  {{?:*editable}}
     <input class="text-input" value="{{*title}}" name="{{for.key}}[{{id}}]" />
  {{?:}}
      {{*title}}
  {{/?}}
{{/:cell}}

{{TPL:add_new}}
  <input class="b-catalogue-items-form_add cms-insert-but" type="submit" value="{{_add_new_title}}" />
{{/TPL:add_new}}

{{TPL:delete}}
  <input class="b-catalogue-items-form_delete cms-delete-but" type="submit" value="{{_delete_title}}"  name="{{prefix}}delete"  onclick="return confirm('Удалить?');" />
{{/TPL:delete}}

{{TPL:save}}
  <input class="b-catalogue-items-form_save cms-save-but" type="submit" value="Сохранить{{_save_title}}" />
{{/TPL:save}}

{{:item_checkbox}}
  <input  type="checkbox" value="{{*id}}" name="selected_items[]" />
{{/:item_checkbox}}

