{{!connect "calendar.css"}}
{{!connect "calendar.js"}}
<fieldset class="cms-body_tree_calendar">
  {{?*title}}<label for="_list_filter_{{*get_var}}">{{*title}}:&nbsp;</label>{{/?}}
  <input class="text-input" type="text" id="_list_filter_{{*get_var}}" name="{{*get_var}}" value="{{*data}}" />
	<a href="#" onclick="return showCalendar('_list_filter_{{*get_var}}', '%d.%m.%Y');" title="Календарь"><img src="{{images}}calendar/icon.gif" alt="календарь" /></a>
  <input type="submit" name="{{*get_var}}_button" value="Найти" />
</fieldset>