{{TPL:List_Item_Exchange}}{{/TPL:List_Item_Exchange}}
{{TPL:List_Empty}}
<div class="cms-nodata-">нет данных</div>{{/TPL:List_Empty}}

{{TPL:List_Item}}
<li id="{{*id}}">
<div class="element-">
	<img src="{{images}}element.gif" width="16" height="12" align="bottom" alt="" title="" />
	{{?group_operations}}<input style="display: none" type="checkbox" value="{{*id}}" name="selected_items[]"/>{{?/}}
	<a href="{{*_href}}">{{*_title}}</a>
	{{_controls}}
</div>
</li>
{{/TPL:List_Item}}

{{TPL:exchange}} | <a href="" onclick="{{prefix}}picker.Pick({{*id}},2);return false;">&lt;&gt;</a>{{/TPL:exchange}}

{{TPL:List_Item_sel}}
<li id="{{*id}}">
<div class="element-s-">
	<img src="{{images}}element_s.gif" width="16" height="12" align="bottom" alt="" title=""/>
	{{?group_operations}}<input style="display: none" type="checkbox" value="{{*id}}" name="selected_items[]"/>{{?/}}
	{{*_title}}
	{{_controls}}
</div>
</li>
{{/TPL:List_Item_sel}}

{{TPL:List_Item_del}}
<li id="{{*id}}">
<div class="element-del-">
	<img src="{{images}}element_trash.gif" width="16" height="12" align="bottom" alt="" title="Удалённый элемент" />
	{{?group_operations}}<input style="display: none" type="checkbox" value="{{*id}}" name="selected_items[]"/>{{?/}}
	<a href="{{*_href}}">{{*_title}}</a>
	{{_controls}}
</div>
</li>
{{/TPL:List_Item_del}}

{{TPL:List_Item_sel_del}}
<li id="{{*id}}">
<div class="element-s-">
	<img src="{{images}}element_trash.gif" width="16" height="12" align="bottom" alt="" title=""/>
	{{?group_operations}}<input style="display: none" type="checkbox" value="{{*id}}" name="selected_items[]"/>{{?/}}
	{{*_title}}
	{{_controls}}
</div>
</li>
{{/TPL:List_Item_sel_del}}

{{TPL:List_Item_hidden}}
<li id="{{*id}}">
<div class="element-hiden-">
	<img src="{{images}}element_hiden.gif" width="16" height="12" align="bottom" alt="" title="Скрытый элемент" />
	{{?group_operations}}<input style="display: none" type="checkbox" value="{{*id}}" name="selected_items[]"/>{{?/}}
	<a href="{{*_href}}">{{*_title}}</a>
	{{_controls}}
</div>
</li>
{{/TPL:List_Item_hidden}}

{{TPL:List_Item_sel_hidden}}
<li id="{{*id}}">
<div class="element-s-">
	<img src="{{images}}element_s.gif" width="16" height="12" align="bottom" alt="" title=""/>
	{{?group_operations}}<input style="display: none" type="checkbox" value="{{*id}}" name="selected_items[]"/>{{?/}}
	{{*_title}}
	{{_controls}}
</div>
</li>
{{/TPL:List_Item_sel_hidden}}

{{TPL:List_Separator}}{{/TPL:List_Separator}}

{{TPL:List_Arrows}}{{__links_all}}{{/TPL:List_Arrows}}

{{TPL:list}}
{{_}}
{{/TPL:list}}

{{TPL:add_new}}
  <div class="new-element-"><img src="{{images}}add_element.gif" width="16" height="12" align="bottom" alt="" title="" />
  <a href="{{_add_new_href}}">{{_add_new_title}}</a>
  </div>
{{/TPL:add_new}}

{{TPL:TrashShow}}<div class="trash-"><a href="{{_href}}">показать удалённые</a></div>{{/TPL:TrashShow}}
{{TPL:TrashHide}}<div class="trash-"><a href="{{_href}}">спрятать удалённые</a></div>{{/TPL:TrashHide}}

<!--{{!connect "dragable_items.css"}}
{{!connect "dragable_lists.css"}}-->

<!--{{!connect "dk.js"}}
{{!connect "coordinates.js"}}
{{!connect "drag.js"}}
{{!connect "dragdrop.js"}}
{{!connect "default.js"}}-->

{{!connect "jquery.js"}}
{{!connect "jquery-ui-personalized-1.5.2.js"}}
{{!connect "list_drugs.css"}}


<script language="JavaScript" type="text/javascript">
		$(document).ready(function(){
			var lastOvered = null;
			$('#left_col').sortable({
	        	stop: function(e, ui) {
	        		if (lastOvered) {
	        			var index = {{per_page}}-1;
                    	window.location.href = lastOvered.href + '&index='+index+'&order_list=1&item_id=' + ui.item.attr('id');
                 	} else {
		       			$.post('{{page_url}}?order_list=true', {
		       					'item_id': ui.item.attr('id'),
		       					'index': $('#left_col li').index(ui.item),
		       					'ajax_load': 1,
		       					'{{page_var}}': '{{page_num}}'
		       				}, function(data) {
								if (data != '1') alert(data);
		       				},'text'
		       			);
	       			}
	        	},
	        	start: function(e, ui) {
	      			ui.helper.css({'opacity': '0.3', 'cursor': 'pointer'});
	        	},
	        	sort: function(e, ui) {
                	if ($('.cms-arrow')[0]) {
                    	$('.cms-arrow a').each(function(){
                    		if (
                    			e.pageX > $(this).offset().left &&
                    			e.pageX < $(this).offset().left + $(this).width() &&
                    			e.pageY > $(this).offset().top &&
                    			e.pageY < $(this).offset().top + $(this).height()
                    		) {
                            	$(this).addClass('overed');
                            	lastOvered = this;
                            	return false;
                    		} else {
                            	if (lastOvered == this) {
                            		$(this).removeClass('overed');
                            		lastOvered = null;
                            	}
                    		}
                    	});
                	}
	        	}
			});
			$('#toggleGroupSelect').click(function(){
				if ($('#left_col li input:checkbox:visible')[0]) {
                 	$('#left_col li input:checkbox').hide();
                 	$('#groupSelectActions').hide();
				} else {
					$('#left_col li input:checkbox').show();
					$('#groupSelectActions').show();
				}
            	return false;
			});
			$('#groupSelectAll').click(function(){
                if ($(this).attr('rel') == 'all') {
                    $(this).find('img').attr('src', $(this).find('img').attr('src').replace('group_operations_all', 'group_operations_nothing'));
                    $('#left_col li input:checkbox').attr('checked', 'checked');
                    $(this).attr('rel', 'nothing');
                } else {
                    $(this).find('img').attr('src', $(this).find('img').attr('src').replace('group_operations_nothing', 'group_operations_all'))
                    $('#left_col li input:checkbox').attr('checked', false);
                    $(this).attr('rel', 'all');
                }
            	return false;
			});
			$('#groupDelete').click(function(){
                this.href += '&items_list='+getItems();
			});
			$('#groupRestore').click(function(){
                this.href += '&items_list='+getItems();
			});
		});
		function getItems(action) {
        	var items = '';
			$('#left_col li input:checked').each(function() {
	        	items += this.value+',';
	       	});
	       	return items.substr(0, items.length-1);
		}
</script>


<!-- -->
<div class="cms-list-advanced">
	<div class="toolbar">
		{{__form}}
		{{__logs}}
		{{__picker}}
		{{__filter}}
		{{__trash_switch}}
		{{__add_new}}
		{{?group_operations}}
			<a id="toggleGroupSelect" href=""><img src="{{images}}group_operations_on.gif" alt="выбрать несколько"/></a>
			<span id="groupSelectActions" style="display: none">
				<a rel="all" id="groupSelectAll" href=""><img src="{{images}}group_operations_all.gif" alt="выбрать всё/ничего"/></a>
				<a id="groupDelete" href="{{group_delete_url}}"><img src="{{images}}group_operations_delete.gif" alt="удалить выбранные"/></a>
				<a id="groupRestore" href="{{group_restore_url}}"><img src="{{images}}group_operations_restore.gif" alt="восстановить выбранные"/></a>
			</span>
		{{?/}}
	</div>
	<input type="hidden" name="order" id="order" value="" />
	{{__arrows}}
	<ul id="left_col" class="sortable boxy">
		{{__list}}
	</ul>
	{{__bottom}}
	<img class="block" src="{{images}}z.gif" width="1" height="10" align="top" alt="" />
	{{__arrows}}
</div>
<!-- -->
{{TPL:Form}}
<div class="cms-add-form">
<form action='{{/}}' method='post' name='{{__form_name}}'>
<input type="hidden" name="{{prefix}}update" value="1" />

{{POST_STATE}}
<input type='text' name='{{prefix}}title' value='{{_title}}' style="width:148px;" /><br />
<input type="submit" class="cms-save-small-but hand" value="{{_save_string}}" />&nbsp;
{{__delete}}
</form>
</div>
<img class="block" src="{{images}}z.gif" width="1" height="10" align="top" alt="" />
{{/TPL:Form}}

{{TPL:delete}}<input type="submit" class="cms-delete-small-but hand" name="{{prefix}}delete" value="удалить" onclick="return confirm('Действительно удалить?\nКорзины-то пока нет...');" />{{/TPL:delete}}
