{{TPL:calendar}}
<form name='{{prefix}}_calendar_form' action='' method='get'>

<select name='month' onchange='document.{{prefix}}_calendar_form.submit()'>{{_month_options}}</select>&nbsp;
<select name='year' onchange='document.{{prefix}}_calendar_form.submit()'>{{_year_options}}</select>

</form>
{{/TPL:calendar}}

<div class="cms-list-advanced">
    <div class="toolbar">
        <div class="cms-add-form">{{__calendar}}</div>        
        {{__trash_switch}}
        {{__add_new}}
    </div>
    {{__list}}
    {{__arrows}}
</div>