{{TPL:List_Empty}}<div class="cms-nodata-">нет данных</div>{{/TPL:List_Empty}}

{{TPL:List_Item}}
<div class="element-">
	<img src="{{images}}element.gif" width="16" height="12" align="bottom" alt="" title="" />&nbsp;<a href="{{*_href}}">{{*_title|strip_scape}}</a>
{{*_controls}}
</div>
{{/TPL:List_Item}}

{{TPL:List_Item_Exchange}} | <a href="" onclick="{{prefix}}picker.Pick({{*id}},2);return false;">&lt;&gt;</a>{{/TPL:List_Item_Exchange}}

{{TPL:List_Item_sel}}<div class="element-s-"><img src="{{images}}element_s.gif" width="16" height="12" align="bottom" alt="" title=""
/>&nbsp;{{*_title|strip_scape}}
{{*_controls}}</div>
{{/TPL:List_Item_sel}}

{{TPL:List_Item_del}}<div class="element-del-"><img src="{{images}}element_trash.gif" width="16" height="12" align="bottom" alt="" title="Удалённый элемент" />&nbsp;<a href="{{*_href}}">{{*_title}}</a>
  {{*_controls}}</div>
{{/TPL:List_Item_del}}

{{TPL:List_Item_sel_del}}<div class="element-s-"><img src="{{images}}element_s.gif" width="16" height="12" align="bottom" alt="" title=""
/>&nbsp;{{*_title}}
{{*_controls}}</div>
{{/TPL:List_Item_sel_del}}

{{TPL:List_Item_hidden}}<div class="element-hiden-"><img src="{{images}}element_hiden.gif" width="16" height="12" align="bottom" alt="" title="Скрытый элемент" />&nbsp;<a href="{{*_href}}">{{*_title}}</a>
  {{*_controls}}</div>
{{/TPL:List_Item_hidden}}

{{TPL:List_Item_sel_hidden}}<div class="element-s-"><img src="{{images}}element_s.gif" width="16" height="12" align="bottom" alt="" title=""
/>&nbsp;{{*_title}}
{{_controls}}</div>
{{/TPL:List_Item_sel_hidden}}

{{TPL:List_Separator}}{{/TPL:List_Separator}}

{{TPL:list}}
{{_}}
{{/TPL:list}}

{{TPL:add_new}}
  <div class="new-element-"><img src="{{images}}add_element.gif" width="16" height="12" align="bottom" alt="" title="" />
  <a href="{{_add_new_href}}">{{_add_new_title}}</a>
  </div>
{{/TPL:add_new}}

{{TPL:TrashShow}}<div class="trash-"><a href="{{_show_trash_href}}">показать удалённые</a></div>{{/TPL:TrashShow}}
{{TPL:TrashHide}}<div class="trash-"><a href="{{_show_trash_href}}">спрятать удалённые</a></div>{{/TPL:TrashHide}}

<div class="cms-list-advanced">
	<div class="toolbar">
		{{__select}}
		{{__form}}
		{{__trash_switch}}
		{{__add_new}}
		{{__filter}}
	</div>
	{{__arrows}}
	<img class="block" src="{{images}}z.gif" width="1" height="10" align="top" alt="" />
	{{__list}}
	{{__bottom}}
	<img class="block" src="{{images}}z.gif" width="1" height="10" align="top" alt="" />
	{{__arrows}}
</div>

{{!connect "nodepicker.js"}}
<script language="javascript" type="text/javascript">
	var {{prefix}}picker = new NodePicker("{{prefix}}form");
</script>

<form id="{{prefix}}form" action="" method="post">
	<input type="hidden" name="action" value="">
	<input type="hidden" name="id1" value="">
	<input type="hidden" name="id2" value="">
</form>