<img class="block" src="{{images}}z.gif" width="1" height="5" align="top" alt="" />
<table cellspacing="0" cellpadding="0" class="w100">
<tr>
  <td><img class="block" src="{{images}}z.gif" width="2" height="1" align="top" alt="" /></td>
  <td width="34%" style="font-size: 80%">
    {{wrapped.0}}
  </td>
  <td style="background: #F0F2ED; cursor: pointer;" id="separator"><img class="block" src="{{images}}z.gif" width="3" height="1" align="top" alt="" /></td>
  <td width="65%">{{wrapped.1}}</td>
  <!--td><img class="block" src="{{images}}z.gif" width="5" height="1" align="top" alt="" /></td-->
</tr>
</table>

<script type="text/javascript">
	$(document).ready(function(){		$('#separator').hover(function(){			$(this).css('background', '#E4E6E1');		}, function(){			$(this).css('background', '#F0F2ED');		}).toggle(function(){			$(this).prev('td').hide();
			$(this).next('td').attr('width', '100%');		}, function(){			$(this).prev('td').show();
			$(this).next('td').attr('width', '65%');
		});	});
</script>

