{{!connect 'colorbox.js'}}
{{!connect 'colorbox.css'}}


<tbody class="l-cms-body">
    {{?!hide_modulebar}}
    <tr>
        <td class="l-cms-body_tools">
            {{@blocks/help_link.html}}
            {{__trash_switch}}
            {{__add_new}}
        </td>
        <td class="l-cms-body_sep"></td>
        <td class="l-cms-body_title">{{module_title}}</td>
    </tr>
    {{/?}}
    <tr>
        <td class="l-cms-body_tree" id="left">
            <div class="carpet" style="position: absolute; display: none; background: transparent;"></div>
            <!-- список/дерево модуля слева -->
            {{wrapped.0}}
        </td>
        {{?wrapped.1}}
        <td id="separator" class="l-cms-body_sep"></td>
        <td class="l-cms-body_content" id="right">
            <div class="carpet" style="position: absolute; display: none; background: transparent;"></div>
            <!-- форма модуля справа -->
            {{wrapped.1}}
        </td>
        {{/?}}
    </tr>
</tbody>

<script type="text/javascript">
  var startpos, diffpos=0;
  var permitted = false;
  
  var startLeft  = parseInt( $("#left").css("width") );
  var startRight = parseInt( $("#right").css("width") );
        
	$(document).ready(function(){
    $('#separator').mousedown(function(e){
        startpos = e.clientX + diffpos;
        permitted = true;
    }).attr("unselectable", "on").hover(
      function(){
        /*$('.cms-body_sep').css('background-color', '#BBCCFF');*/
      }, 
      function(){
        /*$('.cms-body_sep').css('background-color', '#BBCCFF');*/
    }).dblclick(            
      function(){
        if ( $(this).prev('td:hidden').length > 0 ){
          $(this).prev('td').show();
          $(this).next('td').attr('width', '85%');
        }
        else {
          $(this).prev('td').hide();
          $(this).next('td').attr('width', '99%');
        }
    });
    
    $("body").mousemove(function(e){
      if (permitted) {
        $("body").focus();
    
        new_position = e.clientX;
        diffpos = startpos-new_position;

        $("#left").css({"-webkit-user-select": "none", "width": startLeft - diffpos} );
        /*$("#separator").css("width", 6);*/
        $("#right").css("width", startRight + diffpos );
        
        $(".carpet").each( function (){
          $(this).css({
            width: $(this).parent().width(),
            height: $(this).parent().height(),
            "z-index": 10000,
          }).show();
        });
      }
    }).mouseup(function(e){
      permitted = false;
      $(".carpet").hide();
      
      e.preventDefault();
    });

    /*if( $("#update_2").position().left > $(".quick-simple-form").position().left+$(".quick-simple-form").width() )
    {
        $("#update_2").css({"float": "", "position": "absolute", "left": ($(".quick-simple-form").position().left+$(".quick-simple-form").width()) });
    };*/
	});
</script>
