{{!connect "dhtmlXTree.css"}}

{{!connect "utils.js"}}
{{!connect "events.js"}}

<!-- важно грузить default до treeControl -->
{{!connect "default.js"}}
{{!connect "treeControl.js"}}
{{!connect "cookie.js"}}

<!-- файлы дерева -->
{{!connect "dhtmlXCommon.js"}}
{{!connect "dhtmlXTree.js"}}

<div class="cms-list-advanced">
	<h3 style="margin-top:0px; margin-bottom:0px;">Меню сайта</h3>
	{{__trash_switch}}
	{{__filters}}
	<a href="#" title="Показать/скрыть элементы управления" onclick="tc.toggleEditTree(); return false;" style="float:right;"><img {{toggleEditTreeClass}} src="{{images}}tree/npj_edit.gif" id="toggleEditImg"></a>
		{{__logs}}
		<img class="block" src="{{images}}z.gif" width="1" height="10" align="top" alt="" />
		
		<div id="treeBox" style="float: left; width: 100%; height:400px; overflow: auto"></div>
</div>

<script language="javascript">
	var base_url = "{{/}}";
	var tc = new treeControl('{{_url_connect}}', "{{_url_xml}}", "{{images}}tree/", "{{_href}}", {{?_tree_autoloading}}true{{?:}}false{{/?}}, "{{_tree_autoloading_url}}", {{?_tree_allow_drop_to_root}}true{{?:}}false{{/?}});
	tc.load("{{_xml_string}}");
</script>