<!--<h1 class="cms-content-title-">Разделы сайта</h1>-->
{{!connect 'colorbox.js'}}
{{!connect 'colorbox.css'}}

<table cellspacing="0" cellpadding="0" class="w100 cms-body">
<tr>
  <td><img class="block" src="{{images}}z.gif" width="2" height="1" align="top" alt="" /></td>
  <td class="tree-" style="font-size: 80%">
    {{wrapped.0}}
  </td>
  <td width="6" id="separator" class="separator-">
    <div class="arrow-"></div>
  </td>
  <td width="85%" style="padding-left: 10px;">
  <h4 style="margin: 6px 10px 16px 0px">{{module_title}}</h4>
    {{wrapped.1}}
  </td>
  <!--td><img class="block" src="{{images}}z.gif" width="5" height="1" align="top" alt="" /></td-->
</tr>
</table>

<script type="text/javascript">
	$(document).ready(function(){
		$('#separator').hover(function(){
			$(this).css('background', '#E4E6E1');
			$('.arrow-').css("border-color", "#F0F2ED #06498D #F0F2ED #06498D");
		}, function(){
			$(this).css('background', '#F0F2ED');
			$('.arrow-').css("border-color", "#F0F2ED #000 #F0F2ED #000");
		}).toggle(function(){
			$(this).prev('td').hide();
			$(this).next('td').attr('width', '99%');
			$('.arrow-').css("margin", "0 -4px 0 1px");
		}, function(){
			$(this).prev('td').show();
			$('.arrow-').css("margin", "0 1px 0 -4px");
			$(this).next('td').attr('width', '85%');
		});
	});
</script>
