{{!connect "jstree/jquery.metadata.js"}}
{{!connect "jstree/jquery.cookie.js"}}
<!-- {{!connect "jstree/jquery.hotkeys.js"}} -->
{{!connect "jstree/css.js"}}
{{!connect "jstree/jquery.listen.js"}}
{{!connect "jstree/jquery.livequery.js"}}
{{!connect "jstree/tree_component.js"}}

{{!connect "jstree/treeControl.js"}}

{{!connect "jstree/tree_component.css"}}


<script language="javascript" type="text/javascript">
	var treeControlsEnabled = {{?tree_params.show_controls}}true{{?:}}false{{/?}};
	var treeControl;
	function treeToggleControls()
	{
		$('#treeBox').toggleClass('no-controls');
		$('#toggleEditImg').toggleClass('toggleEditTreeClass-Sel');
		treeControlsEnabled = !treeControlsEnabled;
		$.cookie('tree_control_btns', treeControlsEnabled);
	}

	jQuery(document).ready(function()
	{
		params = {
			'cont' : $("#treeBox"),
			'data' : {{tree_params.data}},
			{{?tree_params.hide_buttons}}
			'hide_buttons' : {{tree_params.hide_buttons}},
			{{/?}}
			{{?tree_params.level_limit}}
			'max_depth' : {{tree_params.level_limit}},
			{{/?}}
			{{?tree_params.disable_drag}}
			'disable_drag' : true,
			{{/?}}
			'update_url' : '{{tree_params.update_url}}',
			'go_url'	:  '{{tree_params.go_url}}',
			'source_url':  '{{tree_params.source_url}}',
			'images_path' : '{{images}}jstree/',
			'current_id' : '{{tree_params.current_id}}',
			'ajax_auto_loading' : {{?tree_params.ajax_auto_loading}}true{{?:}}false{{/?}},
                        {{?tree_params.edit_url}}
                        'beforerename': function(NODE,LANG,TREE_OBJ){
                                            var id = NODE.id.substr(5);
                                            document.location.assign( "{{tree_params.edit_url}}?id="+id );
                                            return false;
                                    }
                        {{/?}}
		};
		treeControl = new TreeControl(params);
		treeControl.process();
	});
</script>


<div class="cms-list-advanced">
    {{?__filter}}
    <form action="" method="get" class="cms-body_tree_filters">
      {{__filter}}
    </form>
    {{/?}}

	{{?tree_params.all_deleted}}
		<div>Все узлы в дереве удалены. {{__trash_switch}}.</div>
	{{/?}}

	<div id="treeBox" {{?!tree_params.show_controls}}class="no-controls"{{/?}}></div>
</div>

{{:sep}} 
<br /><hr /><br />
{{/:sep}}