{{!connect "wrapper.js"}}

<div class="cms-wrapper">
  
  <!-- Развёрнутый модуль -->
  <div id="module_div_opened_{{_id}}" class="{{_class_name_1}}">
    <a href="#" onclick="WrapperSwitch('{{_id}}',false); return true;" id="module_name_opened_{{_id}}" class="b-module-title b-module-title_opened">{{_title}}</a>
    <table cellspacing="0" cellpadding="0" class="w100 content-">
      <tr>
        <td><img class="block" src="{{images}}z.gif" width="5" height="1" align="top" alt="" /></td>
        <td class="w100">
          <img class="block" src="{{images}}z.gif" width="1" height="5" align="top" alt="" />
          {{_content}}
          <img class="block" src="{{images}}z.gif" width="200" height="1" align="top" alt="" />
          <img class="block" src="{{images}}z.gif" width="1" height="4" align="top" alt="" />
        </td>
        <td><img class="block" src="{{images}}z.gif" width="5" height="1" align="top" alt="" /></td>
      </tr>
    </table>
  </div>
  
  <!-- Свёрнутый модуль -->
  <div id="module_div_closed_{{_id}}" class="{{_class_name_2}}">
    <a href="#" onclick="WrapperSwitch('{{_id}}',true); return true;" id="module_name_closed_{{_id}}" class="b-module-title b-module-title_closed">{{_title}}</a>
  </div>
  
</div>