{{?*}}
{{?oce_on}}

{{!connect "thickbox.js"}}
{{!connect "thickbox.css"}}

{{!!inline}}
<script language="javascript">
    function onTBRemove()
    {
	document.location.reload( true );
    }
</script>
{{/!!}}


<style>
    .p-shadow
    {
      /*width: 90%;*/
      
      background: url( {{images}}shadowAlpha.png ) no-repeat bottom right !important;
      background: url( {{images}}shadow.gif ) no-repeat bottom right;
      margin: 10px 0 0 10px !important;
      margin: 10px 0 0 5px;
    }

    .p-shadow div
    {
      background: none !important;
      background: url( {{images}}shadow2.gif ) no-repeat left top;
      padding: 0 !important;
      padding: 0 6px 6px 0;
    }

    .p-shadow textarea, .p-shadow input
    {
      padding: 6px;
      margin: -6px 6px 6px -6px !important;
      margin: 0;
    }
    
    {{@_/platonica_widgets_css.html}}
</style>


{{/?}} 


<table style="border-top: 4px #F0F2ED solid; top: 0; z-index: 1000;" cellspacing="0" cellpadding="0" class="cms-toolbar w100">
	<tr>
		<td nowrap="nowrap">
			Редактирование:
			{{?oce_on}}
				<img id="cms_panel_loading" class="invisible" src="{{images}}loadingAnimation.gif" />
				<span id="cms_panel_shown">
				    <strong>показано</strong> | <a href="{{oce_off_href}}">скрыть</a>
				</span>
			{{?:}}
				<a href="{{oce_on_href}}">показать</a> | <strong>скрыто</strong>
			{{/?}}
		</td>

		<td style="text-align: right;">
			{{!oce module="config" title="Настройки"}} |
			{{!textOce type="content" module="content" title="редактировать в CMS" id=PAGE.id show="1"}}
			|
			
		    	<a href="{{/}}cms">перейти CMS</a> |  &nbsp; 
		    	<a rel="notrack" href="{{/}}cms/login?logout=1&retpath={{cur_url}}" onclick="return confirm('Вы действительно желаете выйти?');">выход</a>	
		</td>
	</tr>
</table>

{{/?}}
