{{?*}}
{{?oce_on}}

{{!connect "thickbox.js"}}
{{!connect "thickbox.css"}}

{{!!inline}}
<script language="javascript">
    function onTBRemove()
    {
	document.location.reload( true );
    }
</script>
{{/!!}}

<style>
    .p-shadow 
    {
      /*width: 90%;*/
      
      background: url( {{images}}shadowAlpha.png ) no-repeat bottom right !important;
      background: url( {{images}}shadow.gif ) no-repeat bottom right;
      margin: 10px 0 0 10px !important;
      margin: 10px 0 0 5px;
    }

    .p-shadow div 
    {
      background: none !important;
      background: url( {{images}}shadow2.gif ) no-repeat left top;
      padding: 0 !important;
      padding: 0 6px 6px 0;
    }

    .p-shadow textarea, .p-shadow input 
    {
      padding: 6px;
      margin: -6px 6px 6px -6px !important;
      margin: 0;
    }
</style>


{{/?}} 

<div class="cms-toolbar">
	<img class="block" src="{{images}}z.gif" width="1" height="4" align="top" alt="" />
</div>
<table style="border-top: 4px #F0F2ED solid; position: absolute; top: 0;" cellspacing="0" cellpadding="0" class="cms-toolbar w100">
	<tr>
		<!--<td nowrap="nowrap">
			Вы &mdash; <strong>admin</strong>: бог
		</td>-->
		<td nowrap="nowrap">
			Редактирование:
			{{?oce_on}}
				<img id="cms_panel_loading" class="invisible" src="{{images}}loadingAnimation.gif" />
				<span id="cms_panel_shown">
				    <strong>показано</strong> | <a href="{{oce_off_href}}">скрыть</a>
				</span>
			{{?:}}
				<a href="{{oce_on_href}}">показать</a> | <strong>скрыто</strong>
			{{/?}}
		</td>
		<!--<td class="w100">
			<img class="block" src="{{images}}z.gif" width="1" height="1" alt="" align="top" />
		</td>-->
	  	<!--<td class="sep-">
	  		<img class="block" src="{{images}}cms_seporate.gif" width="2" height="20" align="top" alt="" />
	  	</td>-->
		<td style="text-align: right;">
			<form action="" method="get" style=" display: inline">
			skin: 
			<select name="skin" onchange="this.parentNode.submit();">
			    <option value="default" {{?tpl_skin=="default"}}selected{{/?}}>default</option>
			    <option value="skin2" {{?tpl_skin=="skin2"}}selected{{/?}}>skin2</option>
			    <option value="skin3"  {{?tpl_skin=="skin3"}}selected{{/?}}>skin3</option>
			    <option value="skin4"  {{?tpl_skin=="skin4"}}selected{{/?}}>skin4</option>
			    <option value="skin5"  {{?tpl_skin=="skin5"}}selected{{/?}}>skin5</option>
			    <option value="base1"  {{?tpl_skin=="base1"}}selected{{/?}}>base1</option>
			</select>
			</form>
			{{!textOce type="content" module="content" title="Редактировать в CMS" id=PAGE.id show="1"}}
			|
		    	<!--a href="{{/}}cms">CMS:управление сайтом</a> |-->
		    	<a rel="notrack" href="{{/}}cms/login?logout=1&retpath={{cur_url}}" onclick="return confirm('Вы действительно желаете выйти?');">выход</a>	
		</td>
	</tr>
</table>

{{/?}}
