{{@layouts/hp.html content=@:content}}

{{:content}}
{{?toolbar_main}}
	<table cellspacing="0" cellpadding="0" class="cms-start w100">
	  <tr>
	    <td class="middle">
	      <table cellspacing="0" cellpadding="2" align="center">
	        <tr>
	          <td class="text-">
	            <b>Основные функции работы с системой:</b>
	              	<ul>
	              		{{!for toolbar_main do=@:item}}
	              		
	              		{{:item}}
	              			<li><a href="{{!href_to 'Do'}}/{{*href}}">{{*title}}</a></li>
	              		{{/:item}}
	              	</ul>
	              (весь список расположен в верхнем меню) 
	          </td>
	        </tr>
	      </table>
	    </td>
	  </tr>
	</table>
{{/?}}
{{/:content}}