<html>

<head>
  <title>Insert Image</title>
	<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">

<script type="text/javascript" src="{{/}}htmlarea/popups/popup.js"></script>

<script type="text/javascript">

window.resizeTo(400, 450);

function onOK() {
	// rewriten by Zharik
	//данные из базы
  var param = new Object();
	var ImgList = document.getElementById("ImgList");
	var arr = arrrv[ ImgList.options[ImgList.selectedIndex].value ];
	param['f_url'] = arr[0];
	param['f_url_big'] = arr[1].replace( 'pict.php?', 'picture?' ).replace('img=files/','pict=');
	param['f_url_big_plain'] = arr[1];
	param['f_id'] = arr[3];
	param['f_width'] = arr[4];
	param['f_height'] = arr[5];
	param['f_big_width'] = arr[6];
	param['f_big_height'] = arr[7];
	//данные из формы
  var fields = ["f_alt", "f_align"];
  for (var i in fields) {
    var id = fields[i];
    var el = document.getElementById(id);
    param[id] = el.value;
  }
  __dlg_close(param);
  return false;
};

function onCancel() {
  __dlg_close(null);
  return false;
};

</script>

<style type="text/css">
html, body {
  background: ButtonFace;
  color: ButtonText;
  font: 11px Tahoma,Verdana,sans-serif;
  margin: 0px;
  padding: 0px;
}
body { padding: 5px; }
table {
  font: 11px Tahoma,Verdana,sans-serif;
}
form p {
  margin-top: 5px;
  margin-bottom: 5px;
}
.fl { width: 9em; float: left; padding: 2px 5px; text-align: right; }
.fr { width: 6em; float: left; padding: 2px 5px; text-align: right; }
fieldset { padding: 0px 10px 5px 5px; }
select, input, button { font: 11px Tahoma,Verdana,sans-serif; }
button { width: 70px; }
.space { padding: 2px; }

.title { background: #ddf; color: #000; font-weight: bold; font-size: 120%; padding: 3px 10px; margin-bottom: 10px;
border-bottom: 1px solid black; letter-spacing: 2px;
}
form { padding: 0px; margin: 0px; }
</style>

</head>

<body>

<div class="title">Insert Image</div>

<form id="form1" name="form1" action="" method="get">

<!-- выбор из базы --->
<SCRIPT LANGUAGE="JavaScript">
<!--keep

var arrt =  Array();
{{TITLES}}

var arrv =  Array();
{{VALUES}}

var arrrv = Array();
{{RETURN_VALUES}}

var st = 0;
var mrk = 0;
function chst() {
  o = document.form1.TopicsList.options;
  s = document.form1.ImgList;
  i=0;
  while (i<o.length && o.item(i).selected != true) {
  i++;
  };
  if (o.item(i).selected) {
   var q=o.item(i).value;
   s.options.length=0;
   if (document.all && document.all.item) {
     j=arrt[q].length-1;
     while (j>=0) {
       var o = document.createElement("OPTION");
       o.text = arrt[q][j];
       o.value = arrv[q][j];
       if (st==arrv[q][j]) mrk=j;
       s.add(o,0);//.options
       j--;
     };
     s.selectedIndex=mrk;
    } else {
     j=0;
     while (j<arrt[q].length) {
       var o = document.createElement("OPTION");
       o.text= arrt[q][j];
       o.value=arrv[q][j];
       if (st==arrv[q][j]) mrk=j;
       s.add(o,null);
       j++;
     };
     s.selectedIndex=mrk;
   }
	 selectImage();
  }
}
//-->
</SCRIPT>
<SCRIPT Language="JavaScript">
<!--keep
function selectImage(){
	var ImgList = document.getElementById("ImgList");
	var iprev = document.getElementById("ipreview");
	var pt = ImgList.options[ImgList.selectedIndex].value;
	if( pt>0 ){
		document.getElementById("ok").disabled = false;
		iprev.src = arrrv[pt][0];
		iprev.style.visibility = "visible";
		//заполнить поля выбора картинки
		document.getElementById("f_alt").value = arrrv[pt][2];
	}
}
//-->
</SCRIPT>
<table border='0' width='100%'>
<tr><td>
<SELECT size="5" id="TopicsList" onchange='chst()' style="width: 100%; margin: 0">
	{{TOPICS}}
</SELECT>
</td><td>
<SELECT size="5" id="ImgList" onchange="selectImage();" style="width: 100%; margin: 0">
	<option value='-1'>выберите картинку
</SELECT>
</td></tr>
</table>

<!-- / выбор из базы --->

<!--- new stuff --->
<table border="0" width="100%" style="padding: 0px; margin: 0px">
  <tbody>

  <tr>
    <td style="width: 7em; text-align: right">Alternate text:</td>
    <td><input type="text" name="alt" id="f_alt" style="width:100%"
      title="For browsers that don't support images" /></td>
  </tr>
  <tr>
    <td style="width: 7em; text-align: right">Alignement:</td>
    <td>
			<select size="1" name="align" id="f_align"
			  title="Positioning of this image">
			  <!--option value=""                             >Not set</option-->
			  <option value="left" selected="1"               >Left</option>
			  <option value="right"					                  >Right</option>
			  <!--option value="texttop"                      >Texttop</option>
			  <option value="absmiddle"                    >Absmiddle</option>
			  <option value="baseline" 							       >Baseline</option>
			  <option value="absbottom"                    >Absbottom</option>
			  <option value="bottom"                       >Bottom</option>
			  <option value="middle"                       >Middle</option>
			  <option value="top"                          >Top</option-->
			</select>
		</td>
  </tr>

  </tbody>
</table>

<div class="space"></div>

</fieldset>

<br clear="all" />
<table width="100%" style="margin-bottom: 0.2em">
 <tr>
  <td valign="bottom">
    Image Preview:<br />
    <iframe name="ipreview" id="ipreview" frameborder="0" style="border : 1px solid gray; visibility:hidden;" height="200" width="300" src=""></iframe>
  </td>
  <td valign="bottom" style="text-align: right">
    <button type="button" name="ok" id="ok" disabled="true" onclick="return onOK();">OK</button><br>
    <button type="button" name="cancel" onclick="return onCancel();">Cancel</button>
  </td>
 </tr>
</table>
</form>
</body>
</html>
