<table border='0'>
<tr>
	<td>заголовок</td>
	<td><input type="text" name="{{prefix}}title" value="{{*title|escape}}" size="50"></td>
</tr>
<tr>
	<td>ссылка</td>
	<td><input type="text" name="{{prefix}}href" value="{{*href|escape}}" size="50"></td>
</tr>
<tr>
	<td>основной</td>
	<td><input type="checkbox" name="{{prefix}}main" value="1" {{checkbox_main}}></td>
</tr>
<tr>
	<td>скрыть</td>
	<td><input type="checkbox" name="{{prefix}}_state" value="1" {{checkbox__state}}></td>
</tr>
</table>