<table class="quick-simple-form w100">
<tr>
	<td class="right">{{*file_small}}</td>
	<td class="desc"><input type="text" name="{{prefix}}title" value="{{*title|escape}}" size="50"><br>
          Название изображения, выводится на сайте в качестве альтернативного текста для загруженного изображения, 
          если у посетителя отключен вывод изображений. 
	</td>
</tr>
<tr>
	<td class="right">Иллюстрация:</td>
	<td class="desc">
          <input type="file" name="{{prefix}}file"><br>
          {{*file_exts_graphics}}<br>
          Нажмите кнопку <dfn>Обзор</dfn> и выберите иллюстрацию со своего компьютера.
	</td>
</tr>
<tr>
	<td class="right">Уменьшенное изображение:</td>
	<td class="desc">
          <input type="file" name="{{prefix}}file_small"><br>
          {{*file_exts_graphics}}<br>
          <!--Уменьшеная копия (<dfn>{{_strict}} {{max_width}}x{{max_height}}</dfn>) изображения, обычно используется для вывода в списках или анонсах.
          Будет уменьшено автоматически, если вы его не загрузите.<br>-->
	</td>
</tr>
</table>