.l-cms-header {
  table-layout: fixed; /* чтобы у таблицы не разъезжались колонки, если у них стоит фиксированная ширина */
  width: 100%; overflow: hidden;
  /*margin: 5px 0 0;  тут задаём только верхний и нижний отступы */
  }
  .l-cms-header__logo {
    width: 60px; padding: 0px 1px;
    }
    .l-cms-header__logo img {
      height: 40px; /* 25px */
      vertical-align: top; /* чтобы не появлялось отступа под картинкой */
      }
  .l-cms-header__slogan {
    padding: 0 10px;
    }
  .l-cms-header__info {
    width: 230px; padding: 0 15px 0 10px;
    text-align: right;
    font-size: 80%;
    }
    .l-cms-header__info img {
      vertical-align: middle;
      }
  .l-cms-header__navigation__menu {
    vertical-align: bottom;
    padding: 10px 10px 0 10px;
    }
  .l-cms-header__navigation__submenu {
    padding: 0;
    }