.l-header {
  table-layout: fixed; /* чтобы у таблицы не разъезжались колонки, если у них стоит фиксированная ширина */
  width: 100%; height: 100px; overflow: hidden;
  margin: 15px 0 40px; /* тут задаём только верхний и нижний отступы */
  }
  .l-header__logo {
    width: 100px; padding: 0 10px 0 15px;
    }
    .l-header__logo img {
      vertical-align: top; /* чтобы не появлялось отступа под картинкой */
      }
  .l-header__slogan {
    padding: 0 10px;
    }
  .l-header__info {
    width: 66.6666%; padding: 0 15px 0 10px;
    }
  .l-header__navigation {
    padding: 10px 15px 0 10px;
    }