<!-- Умолчательное содержимое свернутого враппера -->
{{TPL:Default}}
<div 
  onmouseover="document.getElementById('module_name_closed_{{_id}}').className='module-title- m-over2-'; return false;"
  onmouseout="document.getElementById('module_name_closed_{{_id}}').className='module-title- m-closed-'; return true;"
  onclick="WrapperSwitch('{{_id}}',true, '{{_subclass}}'); return false;"
  class="hand"
>
<table width="100%" cellspacing="0" cellpadding="0" class="module-title- m-closed-" id="module_name_closed_{{_id}}">
  <tr>
    <td class="w100">{{_title}}</td>
    <td>
    <a href="javascript:;"
      onmouseover="document.getElementById('module_name_closed_{{_id}}').className='module-title- m-over2-'; return false;"
      onmouseout="document.getElementById('module_name_closed_{{_id}}').className='module-title- m-closed-'; return true;"
    /><img src="{{images}}show.gif" width="12" height="12" alt="-" align="top" title="Развернуть группу" /></a></td>
  </tr>
</table>
</div>
</div>
{{/TPL:Default}}