{{:title}}
  <table class="form-table client-name-layout">
      <tbody>
          <tr {{?!is_valid}}class="error-"{{/?}}>
              <td class="label-">
                 <h1 style="margin:0"><label for="{{field}}"><span class="mandatory">*</span> {{wrapper_title}}</label></h1>
              </td>
              <td class="control-">
                  <div class="inp-wrap-">{{content}}</div>
              </td>
              <!-- td id="client-number">
                  №34-234
              </td-->
          </tr>
          {{?!is_valid}}
          <tr class="error-text-">
            <td class="label-"></td>
            <td class="control-">{{errors}}</td>
          </tr>
          {{/?}}
        </tbody>
      </table>
{{/:title}}

{{:AgeSex}}
<td class="label-">
 <label for="age-input">{{wrapper_title}}</label>                 
</td>
<td class="control- complex-field-">
 <table>
     <tr>
         <td class="control-" id="age-input-td">
           {{content}}
         </td>
         <td class="label-" id="sex-label-td"><label for="_sex">Пол:</label></td>
         <td class="control-">
            <select name="_sex">
              <option value="0"></option>                    
              <option value="1">мужской</option>                    
              <option value="2">женский</option>                    
            </select>
         </td>
     </tr>
 </table>
</td>
{{/:AgeSex}}

{{:StringWrapper}}
  <tr>
      <td class="label-">
         <label for="{{field}}">{{wrapper_title}}</label>                 
      </td>
      <td class="control-">
         <div class="inp-wrap-">{{content}}</div>
      </td>
  </tr>
{{/:StringWrapper}}

{{:StringCalendar}}
{{!connect "calendar/calendar.css"}}
{{!connect "calendar/calendar.js"}}

<input class="type-text" type="text" id="{{field}}" style="width:50%" size="5"  name="{{field}}" value="{{interface_data}}" />
<a onclick="return showCalendar('{{field}}', '%d.%m.%Y', false, true);" href="#" >
	<img src="{{images}}calendar.gif" alt="" />
</a>
{{/:StringCalendar}}

{{:TripCalendar}}
{{!connect "calendar/calendar.css"}}
{{!connect "calendar/calendar.js"}}


<input class="type-text" type="text" id="{{field}}" style="width:30%" size="5"  name="{{field}}" value="{{interface_data}}" />
<a onclick="return showCalendar('{{field}}', '%d.%m.%Y', false, true);" href="#" >
	<img src="{{images}}calendar.gif" alt="" />
</a>

<input class="type-text" type="text" id="_trip_date_end" style="width:30%" size="5"  name="_trip_date_end" value="{{trip_date_end_value}}" />
<a onclick="return showCalendar('_trip_date_end', '%d.%m.%Y', false, true);" href="#" >
	<img src="{{images}}calendar.gif" alt="" />
</a>
{{/:TripCalendar}}

{{TPL:MainGroupItemList}}
<table id="main-fields-table">
  <tbody>
	   {{_}} 
   </tbody>
</table>
{{/TPL:MainGroupItemList}}
{{TPL:MainGroupItemList_Empty}} {{/TPL:MainGroupItemList_Empty}}
{{TPL:MainGroupItemList_Item}} 
<tr>
     {{*field}}
</tr>
{{/TPL:MainGroupItemList_Item}}



{{:GroupWrapper}}
  <table class="client-edit-groups-layout">
      <tr>
          <td class="group-left-">
            <div class="group- primary-group- group-first-"><div class="w100">{{content}}</div></div>
          </td>
          <td class="spacer-">{{!dummy "20x1"}}</td>
          <td class="group-right-">
            <div class="group- secondary-group- group-first-"><div class="w100">{{@forms/client_wrapper.html:manager_fields}}</div></div>
            <div class="group- secondary-group-"><div class="w100">{{@forms/client_wrapper.html:contacts_fields}}</div></div>
          </td>
      </tr>
      <tr>
          <td class="control-">
            <div class="group-">
              {{@forms/client_wrapper.html:supplemental}}
            </div>
          </td>
          <td class="spacer-"></td>
          <td class="control-">
            <div class="group-">
              {{@forms/client_wrapper.html:motivation}}
            </div>
          </td>
      </tr>
  </table>
{{/:GroupWrapper}}

{{:manager_fields}} 
<table> 
  <tbody>
      <tr>
          <td class="label-">
            <label for="test"><strong>Менеджер:</strong></label>
          </td>
          <td class="control-">
            <select name="_manager_id">
              {{!for Managers do=@forms/client_wrapper.html:status_item}}
            </select>
          </td>
      </tr>
      <tr>
          <td class="label-">
            <label for="status"><strong>Статус:</strong></label>
          </td>
          <td class="control-">
            <select name="_status">
            	{{!for Status do=@forms/client_wrapper.html:status_item}}
            	{{:status_item}}
              		<option value="{{*id}}" {{*selected}}>{{*title}}</option>                    
              	{{/:status_item}}
            </select>
          </td>
      </tr>
      <tr>
          <td class="label-">
            <label for="_client_num"><strong>Префикс филиала:</strong></label>
          </td>
          <td class="control-">
            <input type="text" name="_client_num" id="_client_num" value="{{client_num_value|escape}}" />
          </td>
      </tr>
  </tbody>
</table>  
{{/:manager_fields}}

{{:contacts_fields}}
{{!connect "jquery.js"}}
{{!connect "utils.js"}}
{{!connect "locations_client.js"}}
  	<script language="javascript">
  		$(document).ready(
  			function()
  			{
  				var loc = new Locations();
  				loc.setData({{rub_location}});
  				// selects
  				loc.setObjects({'1' : 'location_1', '2' : 'location_2', '3' : 'location_3'});
  				loc.max_select = 3;
  				loc.init();
  			}
  		);
  	</script>
<h3>Контактная информация</h3>
<table>
  <tbody>
      <tr {{?phone_error}}class="error-"{{/?}}>
          <td class="label-">
            <label for="_contact_phone"><span class="mandatory">*</span>&nbsp;Телефон:</label>
          </td>
          <td class="control-">
            <div class="inp-wrap-"><input type="text" name="_contact_phone" id="_contact_phone" value="{{phone_value|escape}}" />
            	<!--[{{phone_error}}]-->
            </div>
          </td>
      </tr>
      {{?phone_error}}
      <tr class="error-text-">
          <td class="label-"></td>
          <td class="control-">{{phone_error}}</td>
      </tr>
      {{/?}}

      
      <tr {{?email_error}}class="error-"{{/?}}>
          <td class="label-">
            <label for="_contact_email"><span class="mandatory">*</span>&nbsp;Email:</label>
          </td>
          <td class="control-">
            <div class="inp-wrap-"><input type="text" name="_contact_email" id="_contact_email" value="{{email_value|escape}}" />
            	
            </div>
          </td>
      </tr>
      {{?email_error}}
        <tr class="error-text-">
          <td class="label-"></td>
          <td class="control-">{{email_error}}</td>
        </tr>
      {{/?}}
      
      <tr>
          <td class="label-">
            <label for="_contact_index">Индекс:</label>
          </td>
          <td class="control-">
            <div class="inp-wrap-"><input type="text" name="_contact_index" value="{{index_value|escape}}" /></div>
          </td>
      </tr>
      
      <tr {{?city_error}}class="error-"{{/?}}>
          <td class="label-">
            <label for="_contact_city"><span class="mandatory">*</span> Страна:</label>
          </td>
          <td class="control-">

          	<select name="_contact_country" id="location_1" >
        		<option value="0"></option>
        	</select>      

          </td>
      </tr>

      <tr>
          <td class="label-">
            <label for="_contact_city">Регион:</label>
          </td>
          <td class="control-">
	        <select name="_contact_region" id="location_2" ></select>
          </td>
      </tr>

      <tr>
          <td class="label-">
            <label for="_contact_city">Город:</label>
          </td>
          <td class="control-">
	        <select name="_contact_city" id="location_3"></select>
          </td>
      </tr>
      
      {{?city_error}}
        <tr class="error-text-">
          <td class="label-"></td>
          <td class="control-">{{city_error}}</td>
        </tr>
      {{/?}}

      <tr>
          <td class="label-">
            <label for="_contact_address">Адрес:</label>
          </td>
          <td class="control-">
            <div class="inp-wrap-"><input type="text" name="_contact_address" value="{{address_value|escape}}" /></div>
          </td>
      </tr>
  </tbody>
</table>  
{{/:contacts_fields}}

{{:supplemental}}  
<h3><label for="_descr">Дополнительная информация</label></h3>
<div class="inp-wrap-"><textarea name="_descr">{{descr_value|escape}}</textarea></div>
{{/:supplemental}}

{{:motivation}}
<h3><label for="_motiv">Мотивация покупки</label></h3>
<div class="inp-wrap-"><textarea name="_motiv">{{motiv_value|escape}}</textarea></div>
{{/:motivation}}
