{{TPL:init}}
<script type="text/javascript">
<!--keep
  _editor_url = "{{/}}htmlarea/";
  _editor_lang = "ru";
  var editors = new Array();
  var editors_plugins = new Array();
  
  function GenerateEditors(editors,plugins){
    var i;
    var j;
    var a;
    for(i=0;i<editors.length;i++){
      if( plugins[i]!='' ){
        a = plugins[i].split(',');
        for(j=0;j<a.length;j++)
          editors[i].registerPlugin(a[j]);
      }
      editors[i].generate();
    }
  }
  //-->
</script>
<script type="text/javascript" src="{{/}}htmlarea/htmlarea.js"></script>
<script type="text/javascript" src="{{/}}htmlarea/word_cleaner.js"></script>
<script type="text/javascript" src="{{/}}htmlarea/os_templates.js"></script>
<script type="text/javascript">
<!--keep
  //default config for HTMLArea
  var _editor_config = new HTMLArea.Config();
//  _editor_config.pageStyle = "{{__style}}";
  _editor_config.pageStyle = "{{__styles}}";
  _editor_config.bodyClass = "{{__body_class}}";
  _editor_config.killWordOnPaste = true;
  _editor_config.baseURL = '{{__base_url}}';
  _editor_config.baseURLrel = '{{fe_/}}';
  
  //движок для чистки ворда
  var word_cleaner = new WordCleaner();
  
  //шаблонный движок
  var tpl = new OSTemplates();
  tpl.base_url = '{{/}}';
  tpl.Assign('BASE_DIR','{{/}}');
//-->
</script>
<script type="text/javascript" src="{{/}}htmlarea/os_functions.js"></script>
<script type="text/javascript" src="{{/}}htmlarea/os_config.js"></script>
{{/TPL:init}}

{{TPL:instance}}
<script language='javascript'>
<!--keep
editors.push( new HTMLArea('{{__input_name}}',{{__config_name}}) );
editors_plugins.push('{{__plugins}}');
//-->
</script>
{{/TPL:instance}}

{{TPL:plugin}}
<script language='javascript'>
<!--keep
HTMLArea.loadPlugin("{{__plugin_name}}");
//-->
</script>
{{/TPL:plugin}}

{{TPL:onload}}GenerateEditors(editors,editors_plugins);tpl.Load();{{/TPL:onload}}

{{TPL:textarea}}
<!-- -->
<textarea name="{{__input_name}}" rows="{{__rows}}" cols="{{__cols}}" class="{{__style}}" wrap="soft" id="{{__input_name}}" >
{{__text}}
</textarea>
{{/TPL:textarea}}

