<style>
/*
    .l-content {
       border-bottom: 1px solid black;
    }
    */
</style>



{{:logo}}
    {{@blocks/logo.html}}
{{/:logo}}

{{:navigation}}
    {{@blocks/menu.html}} 
{{/:navigation}}

{{:navigation2}}
    {{@blocks/submenu.html}}
{{/:navigation2}}

{{:slogan}}{{/:slogan}}

{{:info}}
<div style=""> 
    <small>
        <img src="{{images}}user.png" />&nbsp;<a href="{{!href_to 'Start'}}">{{user.login}}</a>
        &nbsp;|&nbsp;
        <a href="{{/}}do/Config/config">Настройки</a>
        &nbsp;|&nbsp;
        {{@blocks/goto_menu.html}}   
        &nbsp;|&nbsp;
        {{@blocks/user.html}}   
    </small>
</div>
{{/:info}}

{{@layouts/l_header/l_header_114_doublemenu.html logo=@:logo slogan=@:slogan info=@:info navigation=@:navigation navigation2=@:navigation2}}

{{module_body}}



<!--
<table class="w100" style="border-bottom: 1px solid black;">
<tr><td width="20%">
    {{@blocks/logo.html}}
    </td>
    <td width="100%">

        {{@blocks/menu.html}} 
    </td>
</tr>
</table>
-->