
{{@layouts/l_header/l_header_111_doublemenu.html logo=@blocks/logo.html slogan=@:slogan info=@:info navigation=@blocks/menu.html navigation2=@blocks/submenu.html cms_header="1"}}

{{module_body}}

{{:slogan}}{{/:slogan}}

{{:info}}
  <img src="{{images}}user.png" />&nbsp;<a href="{{!href_to 'Start'}}">{{user.login}}</a>
  &nbsp;|&nbsp;
  <a href="{{/}}do/Config/config">Настройки</a>
  &nbsp;|&nbsp;
  {{@blocks/goto_menu.html}}   
  &nbsp;|&nbsp;
  {{@blocks/user.html}}
{{/:info}}