    .mceEditors { display: none; }
    .wysiwyg_tbl { height: 400px; }
    .inplace-over { background-color: #ffffcc;  }
    .error { background-color: red }

    .hand   { cursor:pointer; cursor:hand; }
    .w98{
        width: 98%;
    }

    .cms-save-but 
    {
/*
	-x-system-font:none;
	background-color:#99FF99;
*/
	font-family:Arial,sans-serif;
	font-size:12px;
    }
    .cms-delete-but 
    {
	color:#880000;
	font-family:Arial,sans-serif;
	font-size:12px;
    }
.cms-delete-but, .cms-save-but {
  padding: 6px;
  margin: -6px 6px 6px -6px !important;
  margin: 0; }
  
  
.change-color {
	cursor: pointer;
	position: absolute;
}

#webPalette {
	position: absolute;
	width: 288px;
	display: none;
	z-index: 1000;
	border: 1px solid;
}
#webPalette div {
	width: 16px;
	height: 16px;
	float: left;
	cursor: pointer;
}