{{!connect "jstree/jquery.metadata.js"}}
{{!connect "jstree/jquery.cookie.js"}}
<!-- {{!connect "jstree/jquery.hotkeys.js"}} -->
{{!connect "jstree/css.js"}}
{{!connect "jstree/jquery.listen.js"}}
{{!connect "jstree/jquery.livequery.js"}}
{{!connect "jstree/tree_component.js"}}

{{!connect "jstree/treeControl.js"}}

{{!connect "jstree/tree_component.css"}}

<div class="cms-list-advanced">
  <div class="toolbar">
    {{@blocks/help_link.html}}
	{{__trash_switch}}
  </div>
	{{__filters}}
	<!--<a href="#" title="Показать/скрыть элементы управления" onclick="treeToggleControls(); return false;" style="float:right;"><img {{?tree_params.show_controls}}class="toggleEditTreeClass-Sel"{{/?}} src="{{images}}tree/npj_edit.gif" id="toggleEditImg"></a>-->
	<img class="block" src="{{images}}z.gif" width="1" height="10" align="top" alt="" />

	{{?tree_params.all_deleted}}
		<div>
			Все узлы в дереве удалены. {{__trash_switch}}.
		</div>
	{{/?}}

	<div id="treeBox" {{?!tree_params.show_controls}}class="no-controls"{{/?}}></div>
</div>

<script language="javascript" type="text/javascript">
	var treeControlsEnabled = {{?tree_params.show_controls}}true{{?:}}false{{/?}};
	var treeControl;
	function treeToggleControls()
	{
		$('#treeBox').toggleClass('no-controls');
		$('#toggleEditImg').toggleClass('toggleEditTreeClass-Sel');
		treeControlsEnabled = !treeControlsEnabled;
		$.cookie('tree_control_btns', treeControlsEnabled);
	}

	jQuery(document).ready(function()
	{
		params = {
			'cont' : $("#treeBox"),
			'data' : {{tree_params.data}},
			{{?tree_params.hide_buttons}}
			'hide_buttons' : {{tree_params.hide_buttons}},
			{{/?}}
			{{?tree_params.level_limit}}
			'max_depth' : {{tree_params.level_limit}},
			{{/?}}
			{{?tree_params.disable_drag}}
			'disable_drag' : true,
			{{/?}}
			'update_url' : '{{tree_params.update_url}}',
			'go_url'	:  '{{tree_params.go_url}}',
			'source_url':  '{{tree_params.source_url}}',
			'images_path' : '{{images}}jstree/',
			'current_id' : '{{tree_params.current_id}}',
			'ajax_auto_loading' : {{?tree_params.ajax_auto_loading}}true{{?:}}false{{/?}}
		};
		treeControl = new TreeControl(params);
		treeControl.process();

		/*$('#treeBox li').hover(
			function(){
				$(this).find('>img[hidden!=hidden]').show();
             	$(this).parent().siblings('img[hidden!=hidden]').hide();
             	return false;
			},
			function(){
             	$(this).find('>img[hidden!=hidden]').hide();
			}
		);

		$('#treeBox li a').mouseover(function(){
			$(this).siblings('img[hidden!=hidden]').show();
		});*/

		//$.hotkeys.add('f2',     { disableInInput: true }, function() { tree.rename(); });
		//$.hotkeys.add('r',      { disableInInput: true }, function() { tree.refresh(); });
		//$.hotkeys.add('up',     { disableInInput: true }, function() { tree.get_prev(); });
		//$.hotkeys.add('down',   { disableInInput: true }, function() { tree.get_next(); });
		//$.hotkeys.add('left',   { disableInInput: true }, function() { tree.get_left(); });
		//$.hotkeys.add('right',  { disableInInput: true }, function() { tree.get_right(); });
		//$.hotkeys.add('return', { disableInInput: true }, function() { tree.select_branch(); });
	});
</script>
