<?xml version="1" encoding="windows-1251"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
  <head>
    <title>{{project_title}} {{Page_TITLE}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
    <link rel="stylesheet" href="{{/}}css/cms.css" media="all" type="text/css" />
    
    {{html_head}}
    <script type="text/javascript" src="{{/}}js/pictwnd.js"></script>
    <script type="text/javascript">
<!--keep
function SwapWDiv(id){
  var d = document.getElementById("wdiv_"+id);
  d.style.display = d.style.display!='none' ? 'none' : 'block';
  document.getElementById("sign_"+id).innerHTML = d.style.display!='none' ? '-' : '+';
//  document.cookie = 'd'+id+'=;expires=Fri, 31 Dec 1999 23:59:59 GMT;';
  document.cookie = 'd'+id+'='+d.style.display;
}
//-->
    </script>
  </head>
  
<body onload="{{html_onload}}" {{body_class}}>
{{toolbar}}
{{html_body}}
<!--img src="{{/}}htcgif" width="1" height="1" alt="" /-->
</body>
</html>
