<table cellspacing="0" cellpadding="0" class="cms-login w100">
  <tr>
    <td class="middle" align="center">
      <form action='{{$/}}' method='post'>
{{$POST_STATE}}
        <table cellpadding="10" class="widget" align="center"><tr><td>
        <table cellspacing="0" cellpadding="2">
          <tr>
            <td class="text-">Ваше имя:</td>
            <td><input type='text' name='login' /></td>
          </tr>
          <tr>
            <td class="text-">Пароль:</td>
            <td><input type='password' name='password' /></td>
          </tr>
          <tr>
            <td>{{@dummy.html}}</td>
            <td>
              <input type="submit" value="войти" />
              {{TPL:logout}}&nbsp;&nbsp;<input type="submit" name="logout" value="выйти" />{{/TPL:logout}}
            </td>
          </tr>
        </table>
        </td></tr></table>
      </form>
    </td>
  </tr>
</table>
