{{TPL:Control}}
{{&css:dhtmlXTree}}
{{&js:dhtmlXCommon}}
{{&js:dhtmlXTree}}

	<!--a href="javascript:void(0)" onclick="addNew(0)">New Root Item</a-->
	<br /><br />
	<div id="treeBox_inform" style="text-align: center; display: none;">Updating...</div>
	<div id="treeBox" style="width:300px; height:400px; "></div> 
	
	<script language="javascript">  
		//default label for new item
		var newItemLabel = "New Item";
		//id for new (unsaved) item
		//var newItemId = "-1";
		var tree;
		var treeRequest=null;
		var treeSend = 0;
		
		tree = new dhtmlXTreeObject(document.getElementById('treeBox'),"100%","100%",0); 
		tree.setImagePath("{{images}}tree/"); 
		tree.enableCheckBoxes(false); 
		tree.enableDragAndDrop(true);
		
		tree.setOnClickHandler(doOnSelect);
		tree.setDragHandler(doOnDrag);

		tree.loadXML("{{_url_xml}}");
		var treeBox_inform = document.getElementById('treeBox_inform');
		
		function showUpdateMsg(mode)	
		{
			if(mode)	
			{
				treeBox_inform.style.display = '';
			}
			else
			{
				treeBox_inform.style.display = 'none';	
			}
		}
		
		function doOnDrag(itemId, targetId, beforeId)	
		{
			if (!treeRequest || treeSend)	
			{
				return false;
			}
			showUpdateMsg(true);		
			treeRequest.open('GET', '{{_url_connect}}change=1&id='+ itemId +'&target='+ targetId +'&before='+ beforeId +'&rnd=' + Math.random(), true);	
			
			treeRequest.onreadystatechange = function (aEvt) 
			{
  				if(treeRequest.readyState == 4) 
  				{
   	  				if(treeRequest.status == 200) 
   	  				{
   	  					treeSend = 0; 	  
   	  					showUpdateMsg(false);
   	  				}
   	  			}
   	  		}   	  
			
			treeSend = 1;
			treeRequest.send(null);
			
			return true;
		}
		
		
		//what to do when item selected
		function doOnSelect(itemId, flag)
		{
			if(flag)	return;
			window.location.assign("{{_href}}id=" + itemId);
		}
		
		//add new node next to currently selected (or the first in tree)
		function addNew(selectedId)
		{
				
			if (!treeRequest || treeSend)	
			{
				return false;
			}
			/*
			if(root)
				var selectedId = 0;
			else
				var selectedId = tree.getSelectedItemId();*/
			showUpdateMsg(true);
			treeRequest.open('GET', '{{_url_connect}}add=1&parent='+ selectedId +'&rnd=' + Math.random(), true);	
			
			treeRequest.onreadystatechange = function (aEvt) 
			{
	  			if(treeRequest.readyState == 4) 
	  			{
		   	  		if(treeRequest.status == 200) 
		   	  		{
		   	  			treeSend = 0;
		   	  			showUpdateMsg(false);
		   	  			var response  = treeRequest.responseText;
		   	  			response  = parseInt(response, 10);
		  	  			if(response)
		  	  			{
		   	  				_addNew(selectedId, response);
		   	  			}
		   	  		}
	   	  		}
   	  		}

			treeSend = 1;
			treeRequest.send(null);
			return true;						
		}
		
		function _addNew(selectedId, newItemId)	
		{
			if(selectedId!="")
			{
				tree.insertNewChild(selectedId,newItemId,newItemLabel,"","","","","",0)
			}
			else
			{
				tree.insertNewItem(0,newItemId,newItemLabel,"","","","","",0)
			}
		}
		
		function deleteNode(id)	
		{
			
			//id = tree.getSelectedItemId();
			if(id > 0)	
			{
				if (!treeRequest || treeSend)	
				{
					return false;
				}
				if(!confirm("Are you sure you want to delete selected node?"))
					return false;
				
				showUpdateMsg(true);
					
				treeRequest.open('GET', '{{_url_connect}}delete='+ id +'&rnd=' + Math.random(), true);	
				
				treeRequest.onreadystatechange = function (aEvt) 
				{
		  			if(treeRequest.readyState == 4)
		  			{
		   	  			if(treeRequest.status == 200)
		   	  			{
			   	  			treeSend = 0;
		   	  				var response  = treeRequest.responseText;
		   	  				response  = parseInt(response, 10);
		   	  				showUpdateMsg(false);
		  	  				if(response == 1)
		  	  				{
			   	  				//var pId = tree.getParentId(id);
										tree.deleteItem(id, true);
										//if(pId!="0")	{
		//									tree.selectItem(pId,true);
										//}
		   	  				}
		   	  			}
	   	  			}
   	  			}
				
				treeSend = 1;
				treeRequest.send(null);
				return true;	
			}
			return false;
		}
		
		function preloadXmlHttpRequest()
		{		
			// пытаемся создать объект для MSXML 2 и старше
			if(!treeRequest) try 
			{
				treeRequest=new ActiveXObject('Msxml2.XMLHTTP');
			} catch (e){}

			// не вышло... попробуем для MSXML 1
			if(!treeRequest) try {
				treeRequest=new ActiveXObject('Microsoft.XMLHTTP');
			} catch (e){}     	
		
			// не вышло... попробуем для Mozilla
			if(!treeRequest) try {
				treeRequest=new XMLHttpRequest();
			} catch (e){}
		}

		preloadXmlHttpRequest();

	</script>
	
{{/TPL:Control}}

{{TPL:content}}
	<div class="cms-list-advanced">
		{{__trash_switch}}
		{{__logs}}
		<img class="block" src="{{images}}z.gif" width="1" height="10" align="top" alt="" />
		{{__tree}}
	</div>
{{/TPL:content}}
