{{TPL:Control}}

{{&css:dhtmlXTree}}

<!-- важно грузить default до treeControl -->
{{&js:default}}
{{&js:treeControl}}
{{&js:cookie}}

<!-- файлы дерева -->
{{&js:dhtmlXCommon}}
{{&js:dhtmlXTree}}

{{&js:jquery_latest}}

	<br /><br />
	<div id="treeBox" style="width:300px; height:400px; "></div> 
	
	<script language="javascript">  
		var tc = new treeControl('{{_url_connect}}', "{{_url_xml}}", "{{images}}tree/", "{{_href}}");
		tc.load();

	</script>
	
{{/TPL:Control}}

{{TPL:content}}
	<div class="cms-list-advanced">
		{{__trash_switch}}
		<a href="#" title="Показать/скрыть элементы управления" onclick="tc.toggleEditTree(); return false;" style="float:right;"><img {{toggleEditTreeClass}} src="{{images}}tree/npj_edit.gif" id="toggleEditImg"></a>
		{{__logs}}
		<img class="block" src="{{images}}z.gif" width="1" height="10" align="top" alt="" />
		{{__tree}}
	</div>
{{/TPL:content}}
