{{@layouts/hp.html content=@:content}}

{{:content}}
<table cellspacing="0" cellpadding="0" class="cms-start w100">
  <tr>
    <td class="middle">
      <table cellspacing="0" cellpadding="2" align="center">
        <tr>
          <td class="text-">
            <b>Добро пожаловать!</b>
              <!--<ul>
                {{TPL:List_Item}}<li><a href="{{/}}{{_href}}">{{_title}}</a></li>{{/TPL:List_Item}}
                {{TPL:List_Empty}}{{/TPL:List_Empty}}
                {{__list}}
              </ul>
            (весь список расположен в верхнем меню)-->
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
{{/:content}}