<!-- Эта сетка может использоваться внутри основной сетки -->

{{!connect "layouts/l_inner_columns/l_inner_columns_111.css"}}
<div class="l-inner-columns-111">
  <div class="l-inner-columns-111__col-1"><div class="l-inner-columns-111__col-1__pad">
    {{col1}}
  </div></div>
  <div class="l-inner-columns-111__col-2"><div class="l-inner-columns-111__col-2__pad">
    {{col2}}
  </div></div>
  <div class="l-inner-columns-111__col-3"><div class="l-inner-columns-111__col-3__pad">
    {{col3}}
  </div></div>
</div>