{{TPL:body}}
{{!connect "swfobject.js"}}

{{?#f.generate_container}}
  <div id="{{#f.container}}_wrap" style="position: relative;">
      <div style="position: relative; z-index: 1;"><div id="{{#f.container}}"></div></div>
      {{?#f.link}}
      <a href="{{#f.link}}" style="display: block; width: {{#f.width}}px; height: {{#f.height}}px; position: absolute; top: 0; left: 0; z-index: 1000;">
        <img src="{{images}}n.gif" alt="" width="{{#f.width}}" height="{{#f.height}}" />
      </a>
      {{/?}}
  </div>
{{/?}}
<script type="text/javascript">
//<![CDATA[
   var so = new SWFObject("{{prepath}}{{#f.src}}", "{{#f.id}}","{{#f.width}}",
                       "{{#f.height}}","{{#f.version}}","{{#f.bgcolor}}",
                       '{{#f.quality}}',
                       '{{#f.xiRedirectUrl}}',
                       '{{#f.redirectUrl}}',
                       '{{#f.detectKey}}');
   so.useExpressInstall('{{images}}flash/expressinstall.swf');
   {{?#f.transparent}}
     so.addParam("wmode", "transparent");
     {{?:}}
     so.addParam("wmode", "opaque");
   {{/?}}

   so.addParam("scale",  "{{#f.scale}}");
   so.addParam("salign", "{{#f.salign}}");
   so.addParam("menu",   "{{#f.menu}}");

   {{#f.flashvars}}

   so.write("{{#f.container}}");
   
//]]>
</script>
{{/TPL:body}}

 {{TPL:Variable_Item}}   
   so.addVariable('{{var_key}}','{{var_value}}');
 {{/TPL:Variable_Item}}   
