{{TPL:body}}
{{!connect "swfobject.js"}}

{{?#f.generate_container}}
  <div id="{{#f.container}}">
  </div>
{{/?}}
<script type="text/javascript">
//<![CDATA[
   var so = new SWFObject("{{prepath}}{{#f.src}}", "{{#f.id}}","{{#f.width}}",
                       "{{#f.height}}","{{#f.version}}","{{#f.bgcolor}}",
                       '{{#f.quality}}',
                       '{{#f.xiRedirectUrl}}',
                       '{{#f.redirectUrl}}',
                       '{{#f.detectKey}}');
   so.useExpressInstall('{{images}}flash/expressinstall.swf');
   {{?#f.transparent}}
     so.addParam("wmode", "transparent");
   {{/?}}

   so.addParam("scale",  "{{#f.scale}}");
   so.addParam("salign", "{{#f.salign}}");
   so.addParam("menu",   "{{#f.menu}}");

   {{#f.flashvars}}

   so.write("{{#f.container}}");
   
//]]>
</script>
{{/TPL:body}}

 {{TPL:Variable_Item}}   
   so.addVariable('{{var_key}}','{{var_value}}');
 {{/TPL:Variable_Item}}   
