<?php

$this->base_url			= "/";		     // корневой URL проекта на сайте
$this->project_name		= 'fury';	     // название проекта
$this->tpl_skin			= "skin";	     // шкура по-умолчанию
$this->admin_email		= "nop@jetstyle.ru"; // email админа сайта

?>
