{{TPL:css}}
    <link rel="stylesheet" href="{{css}}{{_}}.css?{{_mtime}}" type="text/css" />
{{/TPL:css}}

{{TPL:js}}
    <script type="text/javascript" language="Javascript" src="{{js}}{{_}}.js?{{_mtime}}"></script>
{{/TPL:js}}




<!--- for custom paths -->

{{TPL:css_path}}
    <link rel="stylesheet" href="{{*path}}/{{*file}}.css" type="text/css" />
{{/TPL:css_path}}

{{TPL:js_path}}
    <script type="text/javascript" language="Javascript" src="{{*path}}/{{*file}}.js"></script>
{{/TPL:js_path}}

