html { height: 100%; }
body { height: 100%; position: relative; }
.l-header-and-content-wrapper {
  position: relative;
  min-height: 100%; height: auto !important; height: 100%;
  }
.l-content {
  padding-bottom: 160px; /* высота футера + его паддинг */
  }
.l-footer {
  position: relative;
  height: 120px; padding-top: 40px;  
  margin-top: -160px; /* -(высота футера + его паддинг) */
  }

.l-fixed-width .l-header-and-content-wrapper,
.l-fixed-width .l-footer {
  width: 950px; margin-left: auto; margin-right: auto;
  }