.header__logo {
  background-color: rgb(100, 190, 236);
  }
.header__slogan {
  background-color: rgb(215, 105, 206);
  }
.header__info {
  background-color: rgb(123, 135, 202);
  }
.header__navigation {
  background-color: #CCFFCC;
  }