/* Футер всегда фиксированной высоты. Высота задается в "composition.css" */

.footer-121 {
  clear: both; width: 100%; overflow: hidden;
  }
  .footer-121_col-1, .footer-121_col-2, .footer-121_col-3 {
    float: left;
    }
  .footer-121_col-1 {
    width: 25%; //margin-right: -100%;
    }
    .footer-121_col-1_pad {
      padding: 0 10px 0 15px;
      }
  .footer-121_col-2 {
    width: 50%;
    //margin-left: 25%; /* ширина колонок перед этой ( в данном случае перед ней одна колонка ширины 25% ) */
    //margin-right: -100%; //display: inline;
    }
    .footer-121_col-2_pad {
      padding: 0 10px;
      }
  .footer-121_col-3 {
    width: 25%;
    //margin-left: 75%; /* ширина колонок перед этой ( в данном случае перед ней две колонки, ширина которых в сумме 75% ) */
    //display: inline;
    }
    .footer-121_col-3_pad {
      padding: 0 15px 0 10px;
      }