{{TPL:Arrows}}<p>{{_links_all}}</p>{{/TPL:Arrows}}

{{_arrows}}

<form action='{{/}}index.php' method='post'>
{{POST_STATE}}

<style>
.cms-simple-form td { padding:3px 10px; }
.cms-simple-form .br- { padding:0; background:#ffffff; width:1px; border:none; }
</style>

<table cellspacing="0" cellpadding="10"><tr><td>
<table cellspacing="0" cellpadding="0" class="cms-simple-form" width="600">
<tr>
  <td><strong>модуль</strong></td>
  <td class="br-"><img class="block" src="{{images}}z.gif" width="1" height="1" align="top" alt="" /></td>
  <td><strong>элемент</strong></td>
  <td class="br-"><img class="block" src="{{images}}z.gif" width="1" height="1" align="top" alt="" /></td>
  <td width="1%"><strong><font color='green'>восстановить</font></strong></td>
  <td class="br-"><img class="block" src="{{images}}z.gif" width="1" height="1" align="top" alt="" /></td>
  <td width="1%"><strong><font color='red'>удалить</font></strong></td>
</tr>
{{TPL:_items}}
<tr bgcolor="{{_bgcolor}}">
  <td>{{*module_title}}</td>
  <td class="br-"><img class="block" src="{{images}}z.gif" width="1" height="1" align="top" alt="" /></td>
  <td><a href="{{*view_link}}&_show_trash=1" target="_blank">{{*item_title}}</a></td>
  <td class="br-"><img class="block" src="{{images}}z.gif" width="1" height="1" align="top" alt="" /></td>
  <td align="center"><input type='checkbox' name='{{prefix}}restore[]' value='{{*table_name}}:{{*item_id}}'></td>
  <td class="br-"><img class="block" src="{{images}}z.gif" width="1" height="1" align="top" alt="" /></td>
  <td align="center"><input type='checkbox' name='{{prefix}}erase[]' value='{{*table_name}}:{{*item_id}}'></td>
</tr>
{{/TPL:_items}}
<tr>
  <td colspan="7"><input type='submit' name='{{prefix}}update' class="cms-save-but hand" value='Сохранить'></td>
</tr>
</table>
</td></tr>
</table>

</form>

{{_arrows}}
