{{:test1}}
	{{?a}}
		1
	{{/?}}
{{/:test1}}

{{:test2}}
	{{?!a}}
		1
	{{/?}}
{{/:test2}}

{{:test3}}
	{{?a}}
		1
	{{?:}}
		2
	{{/?}}
{{/:test3}}

{{:test4}}
	{{?a}}
		1
	{{?:b}}
		2
	{{?:}}
		3
	{{/?}}
{{/:test4}}

{{:test5}}
	{{? a || b}}
		1
	{{?:}}
		2
	{{/?}}
{{/:test5}}

{{:test6}}
	{{? a && b}}
		1
	{{?:}}
		2
	{{/?}}
{{/:test6}}

{{:test7}}
{{@:_test7}}
{{/:test7}}

{{:_test7 a&&b}}
1
{{/:_test7}}

{{:_test7 a||b}}
2
{{/:_test7}}

{{:_test7}}
3
{{/:_test7}}

{{:test8}}
{{?a%2==0}}
1
{{?:}}
2
{{/?}}
{{/:test8}}

{{:test9}}
{{? count(a) == 3}}
1
{{/?}}
{{/:test9}}
