
Assignation: {{Assignation}}<br>
Assignation2: {{Assignation2}}<br>
*Assignat: {{*assignat}}<br>
<br>

{{!for Items do=@:item assigned=Assignation}}


{{:item *assigned}}
Пример условного подшаблона, чтобы он заработал, ассигн в !for должен быть *assigned=... Либо изменить условие на {:item assigned}<br>

	id: {{*id}}<br>
	*assigned: {{*assigned}} <br>
	assigned: {{assigned}} <br>
	<hr>
{{/:item}}

{{:item}}
	id: {{*id}}<br>
	*assigned: {{*assigned}} <br>
	assigned: {{assigned}} <br>
	<hr>
{{/:item}}



{{:test1}}
	{{!for Items do=@:level1 external_var="test"}}
{{/:test1}}

{{:level1}}
{{*id}}-{{external_var}}-{{for.i}}{{!for Items do=@:level2 external_var="other"}}{{*id}}-{{external_var}}-{{for.i}}
{{/:level1}}

{{:level2}}
{{*id}}-{{external_var}}-{{for.i}}
{{/:level2}}