{{:included_template}}
{{name}}
{{/:included_template}}

{{:test0}}
	{{@:test_template}}
{{/:test0}}

{{:test1}}
	{{@:included_template name="abcd"}}
{{/:test1}}

{{:test2}}
	{{@:included_template name=value}}
{{/:test2}}

{{:test3}}
	{{@:included_template name=*}}
{{/:test3}}

{{:test4}}
	{{@:included_template name=value.param}}
{{/:test4}}

{{:test5}}
	{{@:included_template name=*param}}
{{/:test5}}

{{:test6}}
	{{@:included_template name=@:test_template}}
{{/:test6}}


{{:test_template}}
abcd
{{/:test_template}}