{{:test1}}
	{{!test/params "abcd"}}
{{/:test1}}

{{:test2}}
	{{!test/params value}}
{{/:test2}}

{{:test3}}
	{{!!test/params}}abcd{{/!!}}
{{/:test3}}

{{:test4}}
	{{!!test/params}}{{value}}{{/!!}}
{{/:test4}}

{{:test5}}
	{{!test/params name="abcd"}}
{{/:test5}}

{{:test6}}
	{{!test/params name=value}}
{{/:test6}}

{{:test7}}
	{{!test/params name=*}}
{{/:test7}}

{{:test8}}
	{{!test/params name=*param}}
{{/:test8}}

{{:test9}}
	{{!test/params name=value.param}}
{{/:test9}}

{{:test10}}
	{{!test/params name=@:test1}}
{{/:test10}}	