<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<?xml version="1" encoding="windows-1251"?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">

<head>
	<meta content="text/html; charset=windows-1251" http-equiv="Content-Type" />

	<meta name="Keywords" content="{{!pageKeywords}}" />
    <meta name="Description" content="{{!pageDescription}}" />

    <title>{{!pageTitle}}</title>
    <!--#[if IE 6]>
      <link rel="stylesheet" href="{{css}}g-png24.ie.css" type="text/css" />      
  	<![endif]-->
  	{{!connect "all.css"}}
    {{!connect "content.css"}}
    {{!connect "forms.css"}}
    
    {{!connect "custom.css"}} <!-- тут сейчас чё-то есть, пока не знаю куда это -->
  	
    {{!connect "colorbox.css"}}
    {{!connect compile="css"}}
    <link rel="stylesheet" href="{{css}}print.css"
          media="{{?html_print}}all{{?:}}print{{/?}}" type="text/css" />

    {{!connect "default.js"}}
    {{!connect "custom.js"}}
    {{!connect "jquery.js" unshift="true"}}
    {{!connect "colorbox.js"}}
    <!-- {{!connect "counter.js"}} -->

    {{!connect compile="js"}}
    {{!inline compile="head"}}

  	<script language="javascript" type="text/javascript">
  		var base_url = "{{/}}";
		$(function(){
			$('a.colorbox').colorbox(window.colorBoxParams);
			$('a.colorbox-iframe').colorbox({width: '90%', height: '90%', iframe: true, rel: 'nofollow'});
		});
  	</script>
  </head>

<body id="idBody" class="debug" onload="preloadImages('{{images}}'); {{!inline compile="onload"}}">
<a id='top' name='top'></a>
{{cms_panel}}

{{?fixed}}
	<div id="center">
		{{HTML_body}}
	</div>
{{?:}}
	{{HTML_body}}
{{/?}}

{{?oce_on}}
	<script language="javascript" type="text/javascript">
		$(document).ajaxError(function(event, request, settings){
			if (request.status == 403) {
				//tb_remove();
				tb_show("", base_url+"cms/login/ajax?TB_iframe=true&width=264&height=90&onremove=true", "");
			}
		});
	</script>
{{?/}}

<!--img src="{{!href_to 'HTCron'}}" alt="" /-->
{{@blocks/google_analytics.html}}

{{!debug}}
</body>
</html>