<!-- обычная ссылка _редактировать_ -->
<span class="cms-edit">
&uarr; 

    {{?_popup}}
	<!--- pictwnd not defined ??? --->
	<a href="{{_href}}" onclick="pictwnd('{{_href}}','oce_popup','top=0,left=0,width={{_width}},height={{_height}},scrollbars=1,resizable=1');return false;" title="{{_title}}" target="_blank">
	    {{_title}}
	</a>

    {{?:}}
	<a rel="notrack" href="{{_href}}&TB_iframe=true&width={{_width}}&onremove=1" class="thickbox"  title="{{_title}}" >
	<!--a href="iframeModal.html?placeValuesBeforeTB_=savedValues&TB_iframe=true&height=200&width=300&modal=true" title="add a caption to title attribute / or leave blank" class="thickbox">Open iFrame Modal</a-->
	    {{_title}}
	</a>    
    {{/?}}
</span>
