<html>
<body>

<table cellspacing="0" cellpadding="0" class="img-big w1" align="center">
  <tr>
    <td><a href="[HREF]" onmouseover="cI('img_zoom', 'zoom_');" onmouseout="cI('img_zoom', 'zoom');"
      onclick="[ONCLICK];return false;"
      title="Посмотреть увеличенное изображение" target="_blank"><img src="[IMAGE]" width="[WIDTH]" height="[HEIGHT]" alt="" class="block" /></a>
  <div class="icon-"><img src="{{fe_images}}wrapper/zoom.gif" alt="+" title="Увеличить изображение" /></div></a>
      </td>
  </tr>
  <tr>
    <td class="text-">[ALT]</td>
  </tr>
</table>
</body>
</html>
