{{TPL:List_Item}}
<li>
	<a href='{{_href}}'><b>{{_title}}</b></a><br />
	{{_text}}
</li>
{{/TPL:List_Item}}

{{TPL:List_Separator}}{{/TPL:List_Separator}}

{{TPL:List}}
<ol start='{{_start}}'>
{{_items}}
</ol>
{{/TPL:List}}

{{TPL:NotFound}}<p>По Вашему запросу ничего не найдено.</p>{{/TPL:NotFound}}

{{TPL:Form}}
<form action='{{/}}index.php' method='post'>
{{POST_STATE}}
<input type='text' name='qstr' value='{{_qstr}}' maxlength='100'>&nbsp;
<input type='submit' name='search' value='искать'>
</form>
{{/TPL:Form}}

{{form}}
{{result}}
{{arrows}}
